<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Product" lang="en" xml:lang="en">

	<head>
		<title>Jewelry Making Supplies Wholesale, Cheap Beads and Charms - nbeads.com</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="google-site-verification" content="nd1pzd8AT7U0BvF2cgqsasWMajwqkCul-yYXl9yTAcE" />
		<meta name="keywords" content="jewelry making supplies, wholesale jewelry supplies, cheap beads and charms, wholesale beads" />
		<meta name="description" content="Wholesale Jewelry Making Supplies, like beads, charms, findings, stringing materials, jewelry tool etc. With cheap price in Nbeads. A range of cheap beads and charms and other jewelry making supplies are all in stock for your choices." />
		<meta itemprop="name" content="Jewelry Making Supplies Wholesale, Cheap Beads and Charms - nbeads.com">
		<meta itemprop="description" content="Wholesale Jewelry Making Supplies, like beads, charms, findings, stringing materials, jewelry tool etc. With cheap price in nbeads. A range of cheap beads and charms and other jewelry making supplies are all in stock for your choices.">
		<meta property="og:title" content="Jewelry Making Supplies Wholesale, Cheap Beads and Charms - nbeads.com" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.nbeads.com/" />
		<meta property="og:image" content="http://www.nbeads.com/buyer/images/master/Logo.jpg" />
		<meta property="og:site_name" content="nbeads.com" />
		<meta property="fb:admins" content="100002482755604" />
		<meta name="p:domain_verify" content="949e328206538dbb4a1cced0da71a3e6" />
		<link rel="stylesheet" type="text/css" href="http://www.nbeads.com/buyer/css/master.css?v=20170221" />
		<link rel="stylesheet" type="text/css" href="http://www.nbeads.com/buyer/css/home.css?v=20170221" />
		<link rel="shortcut icon" href="http://www.nbeads.com/buyer/images/favicon.ico" type="image/x-icon" />
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
				'//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-22897601-1', 'nbeads.com');
			ga('send', 'pageview');
		</script>
		<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.js?v=1122"></script>
		<script type="text/javascript" src="http://www.nbeads.com/buyer/js/global.js?v=1122"></script>
		<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.DOMWindow.js"></script>
		<script type="text/javascript" src="http://www.nbeads.com/buyer/js/home.js"></script>
		<script type="text/javascript" src="http://www.nbeads.com/buyer/js/deals.js"></script>
		<script type="text/javascript">
			var ctx = "http://www.nbeads.com";
			var rate = "1.0000";
			var symbol = "US $";
		</script>
		<!--[if IE 6]>
		<script type="text/javascript" src="http://www.nbeads.com/common/js/DD_belatedPNG_0.0.8a-min.js"></script>
		<script type="text/javascript">DD_belatedPNG.fix('.SubMenus, .SubMenusBottom,.CartBoxTop,.CartBoxContent,.CartBoxBottom,.BoxRight,.BoxBottom,.PromotionLogo');</script>
		<![endif]-->
		<link rel="alternate" type="application/rss+xml" title="Featured Items" href="http://www.nbeads.com/Rss/Featured-items.xml" />
		<link rel="alternate" type="application/rss+xml" title="Recently Listed Items" href="http://www.nbeads.com/Rss/Recently-Listed-Items.xml" />
		<link rel="alternate" type="application/rss+xml" title="Mixed Products" href="http://www.nbeads.com/Rss/Mixed-Products.xml" />
		<link rel="canonical" href="http://www.nbeads.com" />
		<script>
			(function() {
				var _fbq = window._fbq || (window._fbq = []);
				if(!_fbq.loaded) {
					var fbds = document.createElement('script');
					fbds.async = true;
					fbds.src = '//connect.facebook.net/en_US/fbds.js';
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(fbds, s);
					_fbq.loaded = true;
				}
				_fbq.push(['addPixelId', '309607869198749']);
			})();
			window._fbq = window._fbq || [];
			window._fbq.push(['track', 'PixelInitialized', {}]);
		</script>
		<noscript>
<img height="1" width="1" alt="" style="display: none" src=" https://www.facebook.com/tr?id=309607869198749&amp;ev=NoScript"/>
</noscript>
	</head>

	<body>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if(d.getElementById(id))
					return;
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<div id="Wrap">
			<style>
				.promotion_time{background: url(http://www.nbeads.com/homephotos/20170405/en/countdown-bg.jpg) no-repeat top center #4da23a;height: 61px;}
				.promotion_time .top_banner{width: 1000px;margin: 0 auto;position: relative;}
				.Promotion_num{float: right;padding: 13px 0 5px;position: absolute;right: 10px;top: 0;text-align: center;font-family: Arial, Helvetica, sans-serif;}
				.Promotion_num li{float: left;color: #4da23a;margin-right: 2px;font-size: 30px;}
				.Promotion_num .fenj{float: left;padding: 0 1px;font-size: 30px;color: #fdff9c;margin-right: 0px;}
				.Promotion_num .fenj_days{padding: 16px 4px 0 2px;font-size: 16px;color: #e8fbaa;}
				.Promotion_num .day{width: 27px;height: 38px;line-height: 38px;background: url(http://www.nbeads.com/homephotos/20170405/en/bg_timeday1.png) no-repeat;}
				.Promotion_num .hour{width: 22px;height: 35px;line-height: 35px;background: url(http://www.nbeads.com/homephotos/20170405/en/bg_timehour1.png) no-repeat;margin-top: 3px;}
				.Promotion_num .right_no{margin-right: 0;}

			</style>
			<div id="promotionTime" class="promotion_time">
				<div class="top_banner">
					<a title="Hot Items On SALE！Up To 80% OFF Ends at Midnight on April 24th, 2017 PST" href="http://www.nbeads.com/nbeads-promotion.html?home=BN01_20170405">
						<img width="1000" height="61" border="0" alt="Hot Items On SALE！Up To 80% OFF Ends at Midnight on April 24th, 2017 PST" src="http://www.nbeads.com/homephotos/20170405/en/countdown.jpg">
					</a>
					<div class="Promotion_num">
						<ul>
							<li class="day" id="dayLeft">0</li>
							<li class="day" id="dayRight">0</li>
							<li class="fenj fenj_days">Days</li>
							<li class="hour" id="hourLeft">0</li>
							<li class="hour right_no" id="hourRight">0</li>
							<li class="fenj">:</li>
							<li class="hour" id="minuteLeft">0</li>
							<li class="hour right_no" id="minuteRight">0</li>
							<li class="fenj">:</li>
							<li class="hour" id="secondLeft">0</li>
							<li class="hour" id="secondRight">0</li>
						</ul>
					</div>
				</div>
			</div>
			<input type="hidden" id="hidTotalSecond" value="1491458370342" />
			<script type="text/javascript">
				var PromotionTime = {
					timer: null,
					init: function() {
						// 夏令时提前一小时
						var totalSecond = this.totalTime("2017/04/24 23:59:59 GMT-0700", $(
							"#hidTotalSecond").val());
						if(totalSecond <= 0)
							return;
						this.setTime(totalSecond);
					},
					totalTime: function(date, sysdate) {
						var data = new Date(date);
						var longTime = data.getTime();
						var totalSecond = parseInt((longTime - sysdate) / 1000);
						return totalSecond;
					},
					setTime: function(totalSecond) {
						/*var dayText = "days";*/
						var day = Math.floor(totalSecond / (60 * 60 * 24));
						var hour = Math.floor(totalSecond / 3600) - (day * 24);
						var minute = Math.floor(totalSecond / 60) - (day * 24 * 60) -
							(hour * 60);
						var second = Math.floor(totalSecond) - (day * 24 * 60 * 60) -
							(hour * 60 * 60) - (minute * 60);
						var timeOver = parseInt(day) < 1 && parseInt(hour) < 1 &&
							parseInt(minute) < 1 && parseInt(second) < 1;

						if(second < 10) {
							$("#secondLeft").html("0");
							$("#secondRight").html(second);
						} else {
							var strS = second.toString(),
								s1 = strS.charAt(0),
								s2 = strS
								.charAt(1);
							$("#secondLeft").html(s1);
							$("#secondRight").html(s2);
						}

						if(minute < 10) {
							$("#minuteLeft").html("0");
							$("#minuteRight").html(minute);

						} else {
							var strM = minute.toString(),
								m1 = strM.charAt(0),
								m2 = strM
								.charAt(1);
							$("#minuteLeft").html(m1);
							$("#minuteRight").html(m2);
						}

						if(hour < 10) {
							$("#hourLeft").html("0");
							$("#hourRight").html(hour);
						} else {
							var strH = hour.toString(),
								h1 = strH.charAt(0),
								h2 = strH
								.charAt(1);
							$("#hourLeft").html(h1);
							$("#hourRight").html(h2);
						}

						if(day < 10) {
							$("#dayLeft").html("0");
							$("#dayRight").html(day);
						} else {
							var strD = day.toString(),
								d1 = strD.charAt(0),
								d2 = strD
								.charAt(1);
							$("#dayLeft").html(d1);
							$("#dayRight").html(d2);
						}

						/*if (day <= 1) {
						    dayText = "day";
						}
						$("#dayText").html(dayText);*/

						PromotionTime.timer = setTimeout(function() {
							if(timeOver) {
								$(".promotion_time").hide();
							} else {
								PromotionTime.setTime(totalSecond - 1);
							}
						}, 1000);
					}
				};
				$(function() {
					PromotionTime.init();
				});
			</script>
			<script>
				//放假通知
				(function($) {
					var docCookies = {
						getItem: function(sKey) {
							return decodeURIComponent(document.cookie.replace(new RegExp(
									"(?:(?:^|.*;)\\s*" +
									encodeURIComponent(sKey).replace(
										/[\-\.\+\*]/g, "\$&") +
									"\\s*\\=\\s*([^;]*).*$)|^.*$"), "$1")) ||
								null;
						},
						setItem: function(sKey, sValue, vEnd, sPath, sDomain, bSecure) {
							if(!sKey ||
								/^(?:expires|max\-age|path|domain|secure)$/i
								.test(sKey)) {
								return false;
							}
							var sExpires = "";
							if(vEnd) {
								switch(vEnd.constructor) {
									case Number:
										sExpires = vEnd === Infinity ? "; expires=Fri, 31 Dec 9999 23:59:59 GMT" :
											"; max-age=" + vEnd;
										break;
									case String:
										sExpires = "; expires=" + vEnd;
										break;
									case Date:
										sExpires = "; expires=" + vEnd.toUTCString();
										break;
								}
							}
							document.cookie = encodeURIComponent(sKey) + "=" +
								encodeURIComponent(sValue) + sExpires +
								(sDomain ? "; domain=" + sDomain : "") +
								(sPath ? "; path=" + sPath : "") +
								(bSecure ? "; secure" : "");
							return true;
						},
						removeItem: function(sKey, sPath, sDomain) {
							if(!sKey || !this.hasItem(sKey)) {
								return false;
							}
							document.cookie = encodeURIComponent(sKey) +
								"=; expires=Thu, 01 Jan 1970 00:00:00 GMT" +
								(sDomain ? "; domain=" + sDomain : "") +
								(sPath ? "; path=" + sPath : "");
							return true;
						},
						hasItem: function(sKey) {
							return(new RegExp("(?:^|;\\s*)" +
								encodeURIComponent(sKey).replace(/[\-\.\+\*]/g,
									"\$&") + "\\s*\\=")).test(document.cookie);
						},
						keys: function() {
							var aKeys = document.cookie
								.replace(
									/((?:^|\s*;)[^\=]+)(?=;|$)|^\s*|\s*(?:\=[^;]*)?(?:\1|$)/g,
									"").split(/\s*(?:\=[^;]*)?;\s*/);
							for(var nIdx = 0; nIdx < aKeys.length; nIdx++) {
								aKeys[nIdx] = decodeURIComponent(aKeys[nIdx]);
							}
							return aKeys;
						}
					};
					var $closeBtn = $("#closeBtn");
					if(!docCookies.hasItem('tips')) {
						$closeBtn.closest(".noticeTip").show();
					}
					$closeBtn.click(function() {
						$(this).closest(".noticeTip").hide();
						docCookies.setItem('tips', 'holiday notice', Infinity, '/');
					});

				})(jQuery);
			</script>
			<div id="Header">
				<div class="HeaderTop cls">
					<p class="HeaderLangNav WidthAuto">
						<a href="javascript:void(0)" class="choose">English</a><span></span>
						<a href="http://www.nbeads.com/fr/">Français</a><span></span>
						<a href="http://www.nbeads.com/ru/">Pусский</a><span></span>
						<a href="http://www.nbeads.com/de/">Deutsch</a>
						<span></span>
						<a href="http://www.nbeads.com/es/">Español</a><span></span>
						<a href="http://www.nbeads.com/jp/">日本語</a>
					</p>
					<p class="WebsiteRelate">
						<a rel="nofollow" href="http://www.nbeads.com/order-tracking.html">Order Tracking</a>&nbsp;&nbsp;|&nbsp;
						<a rel="nofollow" href="http://www.nbeads.com/customer/myaccount/doOrderList.do">My Orders</a>&nbsp;&nbsp;|&nbsp;
						<a rel="nofollow" href="http://www.nbeads.com/MyAccount">My Account</a>&nbsp;&nbsp;|&nbsp;
						<a rel="nofollow" href="http://www.nbeads.com/delivery-fee.html">Delivery Fee</a>&nbsp;&nbsp;|&nbsp;
						<a rel="nofollow" href="http://www.nbeads.com/help/default.html">Help</a>
					</p>
				</div>
				<div class="Logo">
					<a href="http://www.nbeads.com/" title="nbeads.com">
						<img src="http://www.nbeads.com/buyer/images/master/Logo.jpg" alt="nbeads.com" />
					</a>
				</div>
				<div class="LandingAndSearch_mid">
					<p id="login_info">
						Hello,
						<a rel="nofollow" href="http://www.nbeads.com/sign-in.html">Sign in</a> or
						<a rel="nofollow" href="http://www.nbeads.com/register.html">Register</a>
					</p>
					<div class="LandingAndSearch">
						<form id="formSearch" action="http://www.nbeads.com/ProductSearch" method="get">
							<p class="cls">
								<input type="text" id="txtSearchProduct" name="keyword" class="SearchInput" maxlength="100" value="" />
								<input type="submit" id="btnSearchProduct" class="SearchBtn" value="" />
							</p>
						</form>
					</div>
				</div>
				<div class="HeaderRight">
					<div id="ToggleMiniCart" class="CartBox">
						<div id="MiniDetails" class="CartBoxDetails">
							<div id="minCartContent" class="CartBoxContent"></div>
						</div>
						<div class="CartMiniTitle">
							<span class="CartLeft"></span>
							<a href="http://www.nbeads.com/shopping-cart.html">
								<p class="CartText">Cart: <strong><span id="cartItemQty">0</span></strong> Item(s) &amp;
									<strong><span id="cartTotalPrice">US $0.00</span></strong>
								</p>
							</a>
							<span class="CartRight"></span>
							<div class="Clear"></div>
						</div>
					</div>
				</div>
				<div class="Clears"></div>
			</div>
			<div id="NavBar">
				<ul>
					<li class="HoverNav">
						<p>
							<a class="ArrowNone" href="http://www.nbeads.com">Home</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/bead-categories.html" class="ArrowNone">Bead Categories</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/recently-listed-items-p1.html" class="ArrowNone">Recently Listed Items</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/small-lot.html" class="ArrowNone">Small Lot</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/mixed-products-p1.html" class="ArrowNone">Mixed Products</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/clearance.html" class="ArrowNone">Clearance</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/nbeads-jewelry.html" class="ArrowNone">Nbeads Jewelry</a>
						</p>
					</li>
					<li id="special_show" style="z-index:6;">
						<p class="cls">
							<a href="#" class="ArrowNone PopName">Special Offer</a><span class="PopBtn"></span></p>
						<div class="NavPop" id="div_special">
							<span class="blue"></span>
							<ul>
								<li class="ItemFirst">
									<a href="http://www.nbeads.com/special-offer-p1.html" title=""><img width="160" height="35" src="http://www.nbeads.com/homephotos/20140415/en/sales.jpg" alt=""></a>
								</li>
								<li class="">
									<a href="http://www.nbeads.com/nbeads-promotion.html" title=""><img width="160" height="35" src="http://www.nbeads.com/homephotos/20170405/en/hot-items-nav.jpg" alt=""></a>
								</li>
							</ul>
							<span class="PopBot"></span>
						</div>
					</li>
				</ul>
			</div>
			<div id="Content" style="padding-top: 10px;">
				<div class="ContentRight">
					<div class="ContentMain">
						<div class="ContentMainLeft">
							<style type="text/css">
								.banner_pic .Banner1{position: relative;background: url(http://www.nbeads.com/homephotos/20170124/en/free-coupons.jpg) no-repeat;}
								.banner_pic .Banner1 a{width: 580px;height: 230px;display: block;}
								.banner_pic .Banner1 span{position: absolute;left: 395px;width: 119px;height: 29px;line-height: 29px;text-align: center;display: inline-block;font-size: 16px;color: #018e85;font-weight: bold;}
								.banner_pic .Banner1 span.code_5{top: 62px;}
								.banner_pic .Banner1 span.code_10{top: 94px;}
								.banner_pic .Banner1 span.code_30{top: 127px;}
								.banner_pic .Banner1 span.code_40{top: 160px;left: 400px;}
								.HomeadStatic li a{display: block;}
								.banner_pic p{position: absolute;bottom: 36px;left: 39px;}
								.banner_pic p span{width: 116px;font-size: 14px;color: #feffdd;line-height: 20px;margin-right: 13px;text-align: center;display: inline-block;float: left;font-weight: bold;}

							</style>
							<div class="Homead">
								<div class="HomeadLeft">
									<div class="HomeadBanner" style="margin-bottom: 10px;" id="player">
										<ul class="player-index" style="width: auto; left: auto; right: 10px; top: 202px;">
											<% data.Banner.forEach(function(data, index){  %>
												<% if(index == 0) {%>
													<li class="current"><%=index+1%></li>
												<% }else {%>
													<li class=""><%=index+1%></li>
												<% } %>
											<% }) %>
										</ul>
										<ul class="banner_pic" id="piclist">
											<% data.Banner.forEach(function(data, index){  %>
												<% include ../Banner %>
											<% }) %>
										</ul>
									</div>
									<ul class="HomeadStatic">
										<% if(data.Img[0]&&data.Img[1]&&data.Img[2]&&data.Img[3]) {%>
										<li style="margin-right: 10px;">
											<a style="margin-bottom: 10px;" title="<%=data.Img[0].name%>" href="<%=data.Img[0].href%>">
												<img alt="<%=data.Img[0].name%>" src="images/<%=data.Img[0].src%>.jpg" border="0">
											</a>
											<a title="<%=data.Img[1].name%>" href="<%=data.Img[1].href%>">
												<img alt="<%=data.Img[1].name%>" src="images/<%=data.Img[1].src%>.jpg" border="0">
											</a>
										</li>
										<li style="margin-right: 10px;">
											<a title="<%=data.Img[2].name%>" href="<%=data.Img[2].href%>">
												<img alt="<%=data.Img[2].name%>" src="images/<%=data.Img[2].src%>.jpg" border="0">
											</a>
										</li>
										<li>
											<a title="<%=data.Img[3].name%>" href="<%=data.Img[3].href%>">
												<img alt="<%=data.Img[3].name%>" src="images/<%=data.Img[3].src%>.jpg" border="0">
											</a>
										</li>
										<% } %>
									</ul>
								</div>
								<div class="Clear"></div>
							</div>
							<div class="ItemsTitle">
								<h2>Recommended Categories</h2>
							</div>
							<ul class="ItemsContent">
								<% data.RecommendedCategories.forEach(function(data, index){  %>
									<% include ../RecommendedCategories %>
								<% }) %>
							</ul>
							<div class="Clears"></div>
							<div class="ItemsTitle">
								<h2>Featured Items</h2>
								<a href="http://www.nbeads.com/Featured-items.html">MORE &gt;&gt;</a>
								<div class="Clears"></div>
							</div>
							<ul class="ItemsContent RecentlyItems">
								<% data.FeaturedItems.forEach(function(data, index){  %>
									<% include ../FeaturedItems %>
								<% }) %>
							</ul>
							<div class="Clears"></div>
							<div class="ItemsTitle">
								<h2>Hot Themes</h2>
								<div class="Clears"></div>
							</div>
							<style>
								.ItemsContent li .ProductName{height: 32px;}
							</style>
							<ul class="ItemsContent HotThemes">
								<% data.HotThemes.forEach(function(data, index){  %>
									<% include ../HotThemes %>
								<% }) %>
							</ul>
							<div class="Clears"></div>
						</div>
						<div class="ContentMainRight">
							<div class="HomeadRight">
								<p>
									<a style="margin-bottom: 10px; display: block;" href="http://www.nbeads.com/help/entried/28-fast-and-best-service-48-hour-dispatching-promised.html?home=HC02_20120515" title="48 Hours Dispatching No Minimum Order"> <img src="http://www.nbeads.com/homephotos/20150602/en/20120519-48-Hours-Dispatching-No-Minimum-Order.jpg" alt="48 Hours Dispatching No Minimum Order" />
									</a>
								</p>
								<p>
									<a style="margin-bottom: 10px; display: block;" href="http://www.nbeads.com/article-what-is-happening-post-share-and-win-cash-939.html" title="Post, Share and Win US$3~$10 CASH!"> <img src="http://www.nbeads.com/homephotos/20140708/en/post-share-and-win.jpg" alt="Post, Share and Win US$3~$10 CASH!" border="0" />
									</a>
								</p>
								<p>
									<a title="Slus free duty to the unted states " href="http://www.nbeads.com/article-your-new-shipping-choice-slus-free-duty-935.html" style="margin-bottom: 10px; display: block;"> <img border="0" alt="Slus free duty to the unted states " src="http://www.nbeads.com/homephotos/20140415/en/slus-free-duty-to-the-unted-states-.jpg"></a>
								</p>
								<p>
									<a style="margin-bottom: 10px; display: block;" href="http://www.tinysand.com/charms-c21.html?pageSize=24&amp;sortIndex=3&amp;utm_source=NB&amp;utm_medium=Co_Banner_home&amp;utm_campaign=NB_banner_home" target="_blank" title="TINYSAND Charms and Beads UP TO 65% OFF"><img border="0" src="http://www.nbeads.com/homephotos/20161020/en/charms-and-beads.jpg" alt="TINYSAND Charms and Beads UP TO 65% OFF"></a>
								</p>
								<p>
									<a style="margin-bottom: 10px; display: block;" href="http://www.nbeads.com/learning-center.html" title="Learning Center"> <img src="http://www.nbeads.com/homephotos/20140304/en/learning-center.jpg" alt="Learning Center" border="0" />
									</a>
								</p>
							</div>
							<div class="RightItem">
								<h2>
								<a href="http://www.nbeads.com/learning-center.html">New Post in Learning
								Center</a>
								</h2>
								
								<ul class="BlogItems">
									<li>
										<a href="http://www.nbeads.com/article-what-is-happening-post-share-and-win-cash-939.html">What is Happening! Post, Share and Win CASH!</a>
									</li>
									<li>
										<a href="http://www.nbeads.com/article-nbeads-increases-its-affiliate-program-commission-up-to-15-938.html">Nbeads Increases Its Affiliate Program Commission ...</a>
									</li>
									<li>
										<a href="http://www.nbeads.com/article-nbeads-affiliate-program-10-commission-937.html">Nbeads Affiliate Program – 10% Commission</a>
									</li>
									<li>
										<a href="http://www.nbeads.com/article-submit-articles-earn-cash-936.html">Submit Articles, Earn Cash</a>
									</li>
									<li>
										<a href="http://www.nbeads.com/article-your-new-shipping-choice-slus-free-duty-935.html">Your New Shipping Choice: SLUS - Free Duty</a>
									</li>
									<li>
										<a href="http://www.nbeads.com/article-top-fan-activity-offers-you-huge-coupon-934.html">Top Fan Activity Offers You Huge Coupon</a>
									</li>
									<li>
										<a href="http://www.nbeads.com/article-try-on-cross-jewelry-to-show-your-charm-933.html">Try on cross jewelry to show your charm</a>
									</li>
									<li>
										<a href="http://www.nbeads.com/article-how-will-you-add-flower-resin-cabochons-for-jewelry-diy-931.html">How will you add flower resin cabochons for jewelr...</a>
									</li>
									<li>
										<a href="http://www.nbeads.com/article-wrap-style-bracelet-wearing-stylish-bracelet-for-beauty-930.html">Wrap style bracelet –wearing stylish bracelet for...</a>
									</li>
									<li>
										<a href="http://www.nbeads.com/article-lapis-lazuli-deep-blue-semi-precious-stone-929.html">Lapis Lazuli - deep blue semi-precious stone</a>
									</li>
								</ul>
							</div>
							<div class="RightItem">
								<h2>Recent Orders</h2>
								<div class="OrderItems">
									<ul class="OrderItems_box OrderItems_liheight">
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1066563-ring-304-stainless-steel-bead-spacers-stainless-steel-color.html">STAS-N020-11-4mm:Ring 304 Stainless Steel Bead ...</a>
											</p>
											<p class="transport">
												ship to France M&eacute;tropolitaine
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1197459-natural-gemstone-cabochons-rose-quartz.html">X-G-H1598-DR-30x20-06:Natural Gemstone Cabochons, Ro...</a>
											</p>
											<p class="transport">
												ship to United States
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1050114-1-strand-natural-turquoise-round-beads-strands-dyed.html">X-TURQ-G103-6mm-01:1 Strand Natural Turquoise Rou...</a>
											</p>
											<p class="transport">
												ship to Canada
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1019292-unisex-casual-style-304-stainless-steel-cross-chain-necklaces-with-lobster-claw-clasps.html">STAS-O037-45P:Unisex Casual Style 304 Stainl...</a>
											</p>
											<p class="transport">
												ship to United States
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1004750-304-stainless-steel-lobster-claw-clasps-grade-a.html">X-STAS-AB19:304 Stainless Steel Lobster Cl...</a>
											</p>
											<p class="transport">
												ship to United States
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-912147-elastic-cord-with-fibre-outside-and-rubber-inside.html">EC-R004-2.0mm-05:Elastic Cord, with Fibre Outsi...</a>
											</p>
											<p class="transport">
												ship to France M&eacute;tropolitaine
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1067048-natural-green-onyx-agate-round-bead-strands-6mm.html">G-N0120-38-6mm:Natural Green Onyx Agate Round...</a>
											</p>
											<p class="transport">
												ship to United Arab Emirates
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1030027-vintage-tibetan-style-alloy-pendant-cabochon-bezel-settings-nickel-free.html">X-TIBEP-M018-125AB-NF:Vintage Tibetan Style Alloy Pe...</a>
											</p>
											<p class="transport">
												ship to United States
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-968539-plum-ab-color-plated-acrylic-pony-heart-beads-about-8mm-in-diameter.html">X-PL539-820:Plum AB color Plated Acrylic P...</a>
											</p>
											<p class="transport">
												ship to United States
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1595658-opaque-glass-seed-beads-firebrick.html">X-SEED-R032-B03:Opaque Glass Seed Beads, FireB...</a>
											</p>
											<p class="transport">
												ship to Switzerland
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-721354-304-stainless-steel-magnetic-clasps-column.html">STAS-E006-53:304 Stainless Steel Magnetic C...</a>
											</p>
											<p class="transport">
												ship to Japan
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-936874-tibetan-style-alloy-pendants-leaf.html">TIBEP-3109-G-RS:Tibetan Style Alloy Pendants, ...</a>
											</p>
											<p class="transport">
												ship to Mexico
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-938872-valentine-s-gifts-ideas-making-heart-shaped-tibetan-style-alloy-charms-pendants-cadmium-free-lead-free.html">X-TIBEP-16672-AS-RS:Valentine's Gifts Ideas Making...</a>
											</p>
											<p class="transport">
												ship to France M&eacute;tropolitaine
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-338341-porcelain-tea-set-blue.html">CF472Y:Porcelain Tea Set, Blue, sauce...</a>
											</p>
											<p class="transport">
												ship to United Kingdom
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-901505-round-tibetan-style-antique-silver-tone-spacer-beads-lead-free-nickel-free-cadmium-free.html">X-LF10326Y-NF:Round Tibetan Style Antique Si...</a>
											</p>
											<p class="transport">
												ship to United States
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1546469-stainless-steel-pendants-blank-stamping-tag.html">STAS-K090-01P-AAA:Stainless Steel Pendants, Blan...</a>
											</p>
											<p class="transport">
												ship to Canada
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1315720-embossed-with-dragon-and-phoenix-pattern-stainless-steel-scissors-golden-stainless-steel-color.html">TOOL-N004-01A:Embossed with Dragon and Phoen...</a>
											</p>
											<p class="transport">
												ship to United States
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-895548-platinum-color-brass-hook-earwire-lead-free-cadmium-free-nickel-free.html">X-J0JQN062:Platinum Color Brass Hook Earw...</a>
											</p>
											<p class="transport">
												ship to United States
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1222045-lovely-iron-back-bar-pin-polka-dot-printed-wood-mustache-brooches-beard.html">X-JEWB-M003-M:Lovely Iron Back Bar Pin Polka...</a>
											</p>
											<p class="transport">
												ship to France M&eacute;tropolitaine
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-893575-faceted-drop-transparent-clear-acrylic-pendants-47x22mm.html">X-TACR-82522-1:Faceted Drop Transparent Clear...</a>
											</p>
											<p class="transport">
												ship to Canada
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1278047-brass-clasp-clip-ends-set-lobster-claw-clasp-with-cord-crimp-extender-chain.html">X-KK95-B:Brass Clasp & Clip Ends Set, L...</a>
											</p>
											<p class="transport">
												ship to France M&eacute;tropolitaine
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1004091-painted-glass-round-bead-strands-rubberized-style.html">X-DGLA-S072-4mm-24:Painted Glass Round Bead Stran...</a>
											</p>
											<p class="transport">
												ship to France M&eacute;tropolitaine
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-1029494-vintage-tibetan-style-alloy-large-flower-pendant-cabochon-bezel-settings-antique-silver.html">TIBEP-O006-55AS:Vintage Tibetan Style Alloy La...</a>
											</p>
											<p class="transport">
												ship to Japan
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/p-904998-10pcs-antique-silver-cross-tibetan-style-alloy-gothic-pendants-lead-free-cadmium-free.html">X-TIBEP-GC070-AS-RS:10PCS Antique Silver Cross Tib...</a>
											</p>
											<p class="transport">
												ship to Germany
											</p>
										</li>
									</ul>
								</div>
							</div>
							<div class="RightItem">
								<p class="MakingSuppliesTitle">Jewelry Making Supplies</p>
								<div class="MakingSuppliesBody">
									nbeads provides
									<div>cheap beads and charms</div>
									etc. beading supplies for jewelry making DIY lovers. With various beads, charms, chains, wire etc. supplies wholesale service, you can make what fantastic handmade jewelries through your mind. All the jewelry making supplies wholesale are all cheap in stock. Order now and we will make delivery in only 48 hours.
								</div>
							</div>
						</div>
						<div class="Clear"></div>
					</div>
				</div>
				<div class="ContentLeft">
					<div class="CategoryMenu">
						<dl>
							<dt>
<h2>
<a href="http://www.nbeads.com/a-22-jewelry-beads.html">
Jewelry beads </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/a-23-acrylic-beads.html">
									Acrylic Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-47-p1-gemstone-beads.html">
									Gemstone Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-48-glass-beads.html">
									Glass Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-100-p1-wood-nut-beads.html">
									Wood & Nut Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-39-european-beads.html">
									European Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-72-p1-rhinestone-beads.html">
									Rhinestone Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-73-seed-bugle-beads.html">
									Seed & Bugle Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-90-tibetan-style-jewelry.html">
									Tibetan Style Jewelry </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-35-clay-beads.html">
									Clay Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-253-cubic-zirconia.html">
									Cubic Zirconia </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-61-lampwork-beads.html">
									Lampwork Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-68-metal-beads.html">
									Metal Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-71-p1-resin-beads.html">
									Resin Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-81-shell-pearl.html">
									Shell & Pearl </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-85-austrian-crystal.html">
									Austrian Crystal </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-101-p1-woven-beads.html">
									Woven Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-202-p1-other-more-beads.html">
									Other More Beads </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/a-218-buttons.html">
Buttons </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/b-232-p1-snap-buttons.html">
									Snap Buttons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-230-p1-shank-buttons.html">
									Shank Buttons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-234-p1-cufflinks.html">
									Cufflinks </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-219-p1-wooden-buttons.html">
									Wooden Buttons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-224-p1-coconut-buttons.html">
									Coconut Buttons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-228-p1-acrylic-buttons.html">
									Acrylic Buttons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-222-p1-resin-buttons.html">
									Resin Buttons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-233-p1-plastic-buttons.html">
									Plastic Buttons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-225-p1-metal-buttons.html">
									Metal Buttons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-229-p1-rhinestone-buttons.html">
									Rhinestone Buttons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-231-p1-other-buttons.html">
									Other Buttons </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/a-102-jewelry-findings.html">
Jewelry Findings </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/a-149-pendants-charms.html">
									Pendants & Charms </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-106-cabochons.html">
									Cabochons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-258-cabochon-settings.html">
									Cabochon Settings </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-144-p1-jumprings.html">
									JumpRings </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-116-clasps.html">
									Clasps </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-104-p1-bead-cap-cone.html">
									Bead Cap & Cone </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-129-finding-beads.html">
									Finding Beads </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-105-p1-bead-spacers.html">
									Bead Spacers </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-115-p1-chain-findings.html">
									Chain Findings </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-123-earring-settings.html">
									Earring Settings </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-145-links.html">
									Links </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-170-p1-pinch-bails.html">
									Pinch Bails </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-171-pins.html">
									Pins </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-175-p1-rhinestone-findings.html">
									Rhinestone Findings </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-176-p1-finger-ring-settings.html">
									Finger Ring Settings </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-177-p1-slide-charms.html">
									Slide Charms </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-178-p1-sterling-silver.html">
									Sterling Silver </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-179-p1-terminators.html">
									Terminators </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-103-p1-assorted-findings.html">
									Assorted Findings </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-251-p1-garment-accessories.html">
									Garment Accessories </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/a-1-beading-supplies.html">
Beading Supplies </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/b-8-p1-jewelry-tools.html">
									Jewelry Tools </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-6-p1-organza-bags.html">
									Organza Bags </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-5-p1-beads-containers.html">
									Beads Containers </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-7-p1-storage-packaging.html">
									Storage & Packaging </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-2-box-display.html">
									Box & Display </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-204-p1-other-more-supplies.html">
									Other More Supplies </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/a-180-stringing-materials.html">
Stringing Materials </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/a-191-thread-cord.html">
									Thread & Cord </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-198-p1-wire.html">
									Wire </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-181-chains.html">
									Chains </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/a-186-jewelry-making.html">
									Jewelry Making </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-205-p1-other-more-cords.html">
									Other More Cords </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/a-235-hair-accessories-findings.html">
Hair Accessories & Findings </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/b-236-p1-hair-findings.html">
									Hair Findings </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-237-p1-hair-accessories.html">
									Hair Accessories </a>
							</dd>
						</dl>
						<dl class="Mg0 Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/a-9-jewelry-watches.html">
Jewelry & Watches </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/a-242-watch-clock.html">
									Watch & Clock </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-12-p1-bracelet-bangle.html">
									Bracelet & Bangle </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-20-p1-necklace.html">
									Necklace </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-15-p1-earring.html">
									Earring </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-21-p1-ring.html">
									Ring </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-18-p1-jewelry-set.html">
									Jewelry Set </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-271-p1-buddhist-products.html">
									Buddhist Products </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-241-p1-diy-jewelry-crafts.html">
									DIY Jewelry & Crafts </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-270-p1-facial-nail-art-accessories.html">
									Facial & Nail Art Accessories </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-269-p1-bag-accessories.html">
									Bag Accessories </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-19-p1-key-chain.html">
									Key Chain </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-14-p1-decoration.html">
									Decoration </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-250-p1-rock-climbing-products.html">
									Rock Climbing Products </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/b-206-p1-other-more-jewelries.html">
									Other More Jewelries </a>
							</dd>
						</dl>
					</div>
					<div class="Categories PopularSearch">
						<div class="BorderWhite">
							<h2>
<strong>Popular Search</strong> <a href="http://www.nbeads.com/topic/">More
&gt;&gt;</a>
</h2>
							<div class="SearchContent">
								<a style="font-size:11px;
		       				  " href="http://www.pandahallstock.com/s-plastic+hair+ties-p1.html"> plastic hair ties
									</a>&nbsp;&nbsp;
									<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-wood+necklaces-p1.html"> wood necklaces
										</a>&nbsp;&nbsp;
										<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-drawbench-p1.html"> drawbench
											</a>&nbsp;&nbsp;
											<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/a-102-jewelry-findings.html"> jewelry findings supplies
												</a>&nbsp;&nbsp;
												<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-glass+pearl+beads-p1.html"> glass pearl beads
													</a>&nbsp;&nbsp;
													<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-large+hole+beads-p1.html"> large hole beads
														</a>&nbsp;&nbsp;
														<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-handmade+jewelry-p1.html"> handmade jewelry supplies wholesale
															</a>&nbsp;&nbsp;
															<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-spring+beads-p1.html"> spring beads
																</a>&nbsp;&nbsp;
																<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-handmade+jewelry-p1.html"> handmade jewelry ideas
																	</a>&nbsp;&nbsp;
																	<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-rhinestone+rondelle+beads-p1.html"> rhinestone rondelle beads wholesale
																		</a>&nbsp;&nbsp;
																		<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-rhinestone+connectors-p1.html"> rhinestone connectors
																			</a>&nbsp;&nbsp;
																			<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-iron+filigree+beads-p1.html"> iron filigree beads
																				</a>&nbsp;&nbsp;
																				<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-plastic+beads-p1.html"> plastic beads
																					</a>&nbsp;&nbsp;
																					<a style="
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  font-size:18px;font-weight:bold;
		       				  
		       				  " href="http://www.pandahallstock.com/s-handmade+jewelry-p1.html"> handmade jewelry
																						</a>&nbsp;&nbsp;
																						<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-plastic+containers-p1.html"> cheap plastic containers
																							</a>&nbsp;&nbsp;
																							<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-enamel+pendants-p1.html"> enamel pendants
																								</a>&nbsp;&nbsp;
																								<a style="
		       				  font-size:12px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-golden+tube-p1.html"> golden tube
																									</a>&nbsp;&nbsp;
																									<a style="
		       				  font-size:12px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-pony+beads-p1.html"> pony beads
																										</a>&nbsp;&nbsp;
																										<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-tibetan+style-p1.html"> tibetan style
																											</a>&nbsp;&nbsp;
																											<a style="font-size:11px;
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  
		       				  " href="http://www.pandahallstock.com/s-memory+wire-p1.html"> memory wire
																												</a>&nbsp;&nbsp;
							</div>
						</div>
					</div>
					<div class="Latestproducts">
						<div class="BorderWhite">
							<h2>The Latest Products</h2>
							<ul class="NewProItems">
								<li>
									<p class="ProductImg">
										<a href="http://www.nbeads.com/p-1590919-304-stainless-steel-pendant-rhinestone-settings-locket-pendants.html">
											<img src="http://photos.nbeads.com/2/C/7/50_50_2C77C9DE-9E3F-45BD-9AE2-081031C4249D.JPG" alt="STAS-Q197-06" width="50" height="50" />
										</a>
									</p>
									<p class="ProductInfo">
										<a href="http://www.nbeads.com/p-1590919-304-stainless-steel-pendant-rhinestone-settings-locket-pendants.html">
											STAS-Q197-06<br/>
										</a>
									</p>
								</li>
								<li>
									<p class="ProductImg">
										<a href="http://www.nbeads.com/p-548483-brass-rhinestone-beads-grade-a.html">
											<img src="http://photos.nbeads.com/R/B/-/50_50_RB-A011-8MM-20G.JPG" alt="8mm Round Brass+Rhinestone Beads(RB-A011-8mm-20G)" width="50" height="50" />
										</a>
									</p>
									<p class="ProductInfo">
										<a href="http://www.nbeads.com/p-548483-brass-rhinestone-beads-grade-a.html">
											8mm Round Brass+Rhinestone Beads(RB-A011-8mm-20G)<br/>
										</a>
									</p>
								</li>
								<li>
									<p class="ProductImg">
										<a href="http://www.nbeads.com/p-583334-imitation-pearl-acrylic-beads-abs.html">
											<img src="http://photos.nbeads.com/6/3/6/50_50_636FFB09-1E62-4D17-9714-AFFCB7EE8B74.JPG" alt="15mm DeepPink Rice Acrylic Beads(MACR-G006-5)" width="50" height="50" />
										</a>
									</p>
									<p class="ProductInfo">
										<a href="http://www.nbeads.com/p-583334-imitation-pearl-acrylic-beads-abs.html">
											15mm DeepPink Rice Acrylic Beads(MACR-G006-5)<br/>
										</a>
									</p>
								</li>
								<li>
									<p class="ProductImg">
										<a href="http://www.nbeads.com/p-616392-moonstone-beads-strands-round.html">
											<img src="http://photos.nbeads.com/B/3/7/50_50_B37698A5-E110-47D6-B64D-177F519FD3B4.JPG" alt="10mm Round Moonstone Beads(G-C068-10mm-1)" width="50" height="50" />
										</a>
									</p>
									<p class="ProductInfo">
										<a href="http://www.nbeads.com/p-616392-moonstone-beads-strands-round.html">
											10mm Round Moonstone Beads(G-C068-10mm-1)<br/>
										</a>
									</p>
								</li>
								<li>
									<p class="ProductImg">
										<a href="http://www.nbeads.com/p-974765-new-items-high-quality-handmade-carved-ox-bone-beads-strands-oval.html">
											<img src="http://photos.nbeads.com/E/7/5/50_50_E7512459-7629-4E2E-8689-E0D6572B7BB4.JPG" alt="28mm Ivory Oval Bone Beads(BONE-L001-27B)" width="50" height="50" />
										</a>
									</p>
									<p class="ProductInfo">
										<a href="http://www.nbeads.com/p-974765-new-items-high-quality-handmade-carved-ox-bone-beads-strands-oval.html">
											28mm Ivory Oval Bone Beads(BONE-L001-27B)<br/>
										</a>
									</p>
								</li>
								<li>
									<p class="ProductImg">
										<a href="http://www.nbeads.com/p-1133915-brass-black-lip-shell-flower-big-pendants-with-shell-pearl.html">
											<img src="http://photos.nbeads.com/4/0/6/50_50_406FE61A-D03A-4620-8650-FBBAD8321E0C.JPG" alt="Platinum Flower Black Lip Shell Big Pendants(SSHEL-F0006-49B)" width="50" height="50" />
										</a>
									</p>
									<p class="ProductInfo">
										<a href="http://www.nbeads.com/p-1133915-brass-black-lip-shell-flower-big-pendants-with-shell-pearl.html">
											Platinum Flower Black Lip Shell Big Pendants(SSHEL-F0006-49B)<br/>
										</a>
									</p>
								</li>
								<li>
									<p class="ProductImg">
										<a href="http://www.nbeads.com/p-1139517-tibetan-style-alloy-beads-dorje-vajra-for-buddhist-jewelry.html">
											<img src="http://photos.nbeads.com/B/8/D/50_50_B8DD62C0-D74D-45E0-9B13-396D0DDCB509.JPG" alt="Alloy Beads(TIBEB-O004-33)" width="50" height="50" />
										</a>
									</p>
									<p class="ProductInfo">
										<a href="http://www.nbeads.com/p-1139517-tibetan-style-alloy-beads-dorje-vajra-for-buddhist-jewelry.html">
											Alloy Beads(TIBEB-O004-33)<br/>
										</a>
									</p>
								</li>
								<li>
									<p class="ProductImg">
										<a href="http://www.nbeads.com/p-1040763-mixed-nature-lava-goddess-household-display-decorations-54x29x19mm.html">
											<img src="http://photos.nbeads.com/E/2/9/50_50_E29E08F4-6960-4A89-99AC-B009957DE87B.JPG" alt="Mixed Color Others Gemstone Decoration(G-M062-M)" width="50" height="50" />
										</a>
									</p>
									<p class="ProductInfo">
										<a href="http://www.nbeads.com/p-1040763-mixed-nature-lava-goddess-household-display-decorations-54x29x19mm.html">
											Mixed Color Others Gemstone Decoration(G-M062-M)<br/>
										</a>
									</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="Mb10">
						<fb:like-box href="http://www.facebook.com/nbeads" width="182" height="347" show_faces="true" border_color="#c6cddd" stream="false" header="true"></fb:like-box>
					</div>
					<div class="Categories NewsLetter">
						<div class="BorderWhite" style="overflow:visible;">
							<h4>Share With</h4>
							<div class="ShareItems Fl">
								<fb:like send="false" layout="button_count" width="80" show_faces="false" font="arial"></fb:like>
							</div>
							<div class="ShareItems Fr W70">
								<g:plusone size="medium"></g:plusone>
							</div>
							<div class="ShareItems Fl">
								<a href="https://twitter.com/share" class="twitter-share-button" rel="nofollow">Tweet</a>
							</div>
							<div class="Clear"></div>
						</div>
					</div>

					<script>
						! function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if(!d.getElementById(id)) { js = d.createElement(s);
								js.id = id;
								js.src = "//platform.twitter.com/widgets.js";
								fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
					</script>

					<script type="text/javascript">
						(function() {
							var po = document.createElement('script');
							po.type = 'text/javascript';
							po.async = true;
							po.src = 'https://apis.google.com/js/plusone.js';
							var s = document.getElementsByTagName('script')[0];
							s.parentNode.insertBefore(po, s);
						})();
					</script>
					<div class="Categories NewsLetter">
						<div class="BorderWhite">
							<h4>Newsletter</h4>
							<p style="font-size:11px;">Sign up to Nbeads news</p>
							<input type="text" maxlength="100" id="txtNewsLetter" name="txtNewsLetter" class="NewsletterInput" />
							<input type="button" id="btnNewsLetter" class="NLBtnSubmit" />
						</div>
					</div>
				</div>
				<div class="Clear"></div>
				<div class="JoinUs">
					<ul>
						<li><strong class="Title">Join Our Community</strong></li>
						<li><img src="http://www.nbeads.com/buyer/images/deals&home/facebook.gif" alt="Follow us on Facebook" border="0" />
							<a rel="nofollow" title="Follow us on Facebook" href="https://www.facebook.com/nbeads">Find us</a> <br/> On Facebook
						</li>
						<li><img src="http://www.nbeads.com/buyer/images/master/big-p-button.png" width="25" height="25" alt="Follow Me on Pinterest" />
							<a rel="nofollow" href="http://pinterest.com/nicebeads/">Follow us
							</a> <br/> On Pinterest</li>
						<li><img src="http://www.nbeads.com/buyer/images/master/google.jpg" alt="Follow us On Google+" border="0" />
							<a rel="nofollow" title="Follow us On Google+" href="https://plus.google.com/+Nbeads/posts">Follow us</a> <br/> On Google+</li>
					</ul>
				</div>
			</div>
			<div id="Footer">
				<p>
					<a rel="nofollow" href='http://www.nbeads.com/help/entried/2-company-introduction.html'>Company Introduction
					</a> |
					<a href="http://www.nbeads.com/sitemap.html">Sitemap</a> |
					<a rel="nofollow" href='http://www.nbeads.com/help/entried/29-privacy-policy.html'>Privacy Policy
					</a> |
					<a rel="nofollow" href='http://www.nbeads.com/help/entried/46-does-your-price-include-duties-or-vat-how-much-tax-do-i-need-to-pay.html'>Tax & Duties
					</a> |
					<a rel="nofollow" href='http://www.nbeads.com/help/entried/69-what-is-your-return-refund-policy.html'>Return Policy
					</a> |
					<a rel="nofollow" href='http://www.nbeads.com/help/anonymous-requests/new.html'>Contact Us</a>
					|
					<a rel="nofollow" href='http://www.nbeads.com/delivery-fee.html'>Delivery Fee
					</a> <br/> <b>Partners:</b>
					<script type="text/javascript">
						(function() {
							var upfront = document.createElement('SCRIPT');
							upfront.type = "text/javascript";
							upfront.async = true;
							upfront.src = document.location.protocol +
								"//upfront.thefind.com/scripts/main/utils-init-ajaxlib/upfront-badgeinit.js";
							upfront.text = "thefind.upfront.init('tf_upfront_badge', 'd49ec4afe0df6d345891563c9a50cbd8')";
							document.getElementsByTagName('HEAD')[0]
								.appendChild(upfront);
						})();
					</script>
					<a rel="nofollow" href="http://www.pandahall.com" title="PandaHall.com" Target="_blank"><b>PandaHall.com</b> </a> |
					<a rel="nofollow" href="http://www.pandawhole.com" title="PandaWhole.com" Target="_blank"><b>PandaWhole.com</b> </a>
				</p>
				<p class="CopyText">&copy;2011 - 2017 EC World International Limited All rights reserved.</p>
				<div class="Clear"></div>
			</div>
		</div>
		<div style="height: 20px;">
			<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.DOMWindow.js"></script>
			<div class="FixBox">
				<div class="LagTipBox" style="display:none">
					<p class="LagContent">
						<input class="rejectBtn " type="button" />
						<input type="hidden" value="" id="language_id" />
						<input type="hidden" value="true" id="isNotDispaly_id" />
						<a class="agreeBtn " href="javascript:void(0);"></a>
						<div class="Clear"></div>
					</p>
					<p class="LagBg"></p>
				</div>
				<div class="FixRegion">
					<p class="top"></p>
					<div class="FixRegionWrap">
						<div id="Region" class="Region">
							<p id="Region1" onclick="regionAndDeliveryCk(this)"><span class="RegionFlag CN"></span> &nbsp;
								<a>China</a>
							</p> /
							<a><span id="Region2" onclick="regionAndDeliveryCk(this)">$ United States Dollar USD</span></a>
						</div>
						<div class="GoogleTranslate">
							<p>Google Translate</p>
							<div class="GoogleTranslateSel">
								<div id="google_translate_element"></div>
								<script>
									function googleTranslateElementInit() {
										new google.translate.TranslateElement({
											pageLanguage: 'en',
											autoDisplay: false
										}, 'google_translate_element');
									}
								</script>
								<script type="text/javascript">
									var translate = document.createElement('script');
									translate.type = 'text/javascript';
									translate.async = true;
									translate.src = ('https:' == document.location.protocol ? 'https://' :
										'http://') + 'translate.google.com/translate_a/element.js?cb=googleTranslateElementInit';
									var s = document.getElementsByTagName('script')[0];
									s.parentNode.insertBefore(translate, s);
									$(window).unbind("scroll");
								</script>
							</div>
						</div>
						<a id="FeedbackLink" class="Feedback" title="To ensure you a great shopping experience on nbeads.com, show your ideas.">Any Suggestions?</a>
						<div id="feedbackbox" style="display:none">
							<div class="FeedbackBox">
								<span title="Close" class="BtnBoxClose" id="BtnBoxClose"></span>
								<div class="MainPopContent MainFeedback">
									<p class="PopboxTitle">Ensure yourself a great shopping experience on nbeads.com</p>
									<div class="Desc">
										<p>Hi, welcome to nbeads.com!</p>
										<p>We sincerely hope you enjoy shopping at nbeads.com. If there is something annoy or bother you while shopping, please let us know. Any suggestions about nbeads.com will be highly appreciated.</p>
									</div>
									<ul>
										<li class="SuggestBox">
											<textarea id="feedbackCont" rows="5" cols="80" maxlength="400"></textarea>
											<span></span>
										</li>
										<li>
											<p>Your Email:</p>
											<input id="email" class="GrayTextBox" type="text" maxlength="100" value="" /><span></span>
										</li>
										<li>
											<input class="FeedbackBtn" type="button" />
										</li>
									</ul>
									<div class="Tips">
										Tips:
										<p>
											If your suggestion is adopted, you will get some additional presents, such as cash coupon, free gifts, discount code, etc.
										</p>
										<p>
											If you have specific questions about your orders, please contact
											<a href="http://www.nbeads.com/Help/Ask-Question.html">Nbeads Customer Service</a> or go to our
											<a href="http://www.nbeads.com/Help/Default.html">Help Center</a>.
										</p>
									</div>
								</div>
								<div class="MainPopContent MainFeedback" style="display:none">
									<p class="PopboxTitle">Thanks for your feedback!</p>
									<div class="Desc">
										<p>Your suggestions will help us improve our service.</p>
									</div>
									<ul>
										<li>
											<input class="CloseBtn" type="button" />
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div id="RegionSettingBox" style="display:none">
							<div class="RegionSettingBox">
								<span title="Close" class="BtnBoxClose" id="BtnBoxClose" onclick="closeWindow()"></span>
								<div class="MainPopContent MainSetting"></div>
							</div>
						</div>
						<div id="DeliveryFeeBox" style="display:none">
							<div class="DeliveryFeeBox">
								<span title="Close" class="BtnBoxClose" id="BtnBoxClose" onclick="closeWindow()"></span>
								<div class="MainPopContent MainDeliveryFee"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				(function(w, d, t, r, u) { var f, n, i;
					w[u] = w[u] || [], f = function() { var o = { ti: "4021471" };
						o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad") }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function() { var s = this.readyState;
						s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null) }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i) })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
			</script>
		</div>
		<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.DOMWindow.js"></script>
		<script type="text/javascript" src="http://www.nbeads.com/buyer/js/loginpop.js?v=1123"></script>
		<script type="text/javascript">
			var totalWeight = "";
		</script>

		<script type="text/javascript">
			var google_tag_params = {
				ecomm_prodid: "",
				ecomm_pagetype: "home",
				ecomm_totalvalue: ""
			};
		</script>
		<script type="text/javascript">
			/* __tag_884$3_ */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
<div style="display: inline;">
<img height="1" width="1" style="border-style: none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/975754985/?value=0&amp;label=rC_4CNfj5gQQ6a2j0QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
		<script>
			(function() {
				var wsta = document.createElement('script');
				wsta.type = 'text/javascript';
				wsta.async = true;
				wsta.src = '//www.qushopping.net/wsta.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wsta, s);
			})();
		</script>
	</body>

</html>