<li>
	<a href="<%=data.href%>" title="<%=data.name%>">
		<img alt="<%=data.name%>" src="images/<%=data.src%>.jpg" height="130" border="0" width="130"></a>
	<h4><a href="<%=data.href%>"><%=data.name%></a></h4>
	<span class="col_red">As Low As<br><%=data.price%></span>
</li>