<li>
	<p>
		<a href="<%=data.href%>" title="<%=data.name%>">
			<img alt="<%=data.name%>" src="images/<%=data.src%>.jpg" height="128" border="0" width="128">
		</a>
	</p>
	<h4><a href="<%=data.href%>"><%=data.name%></a></h4>
</li>