<li <% if(!((index+1)%5)){ %> class="last" <% } %>>
	<a title="<%=data.name%>" href="<%=data.href%>">
		<img src="images/<%=data.src%>.jpg" alt="<%=data.name%>"></a>
	<p>
		<a href="<%=data.href%>"><%=data.name%></a>
	</p>
</li>