<td style="padding:<%=data.padding%>" align="center" width="154" valign="top">
	<a href="<%=data.url%>" target="_blank" style="display:block; text-decoration: none; color: #000000; line-height: 18px;">
		<img src="images/<%=data.src%>.jpg" style="display:block; border: none; border-bottom: 3px solid #f4e0f5;" height="154px" width="154px">
		<span style="display: block; height: 36px; background-color: #ffffff;"><%=data.name%></span>
		<span style="color:#cc0000;display: block; background-color: #ffffff; padding-bottom: 5px;"><%=data.price%></span>
	</a>
</td>