<td style="padding: <%=data.padding%>" height="242px" align="center" valign="top">
	<a href="<%=data.url%>" target="_blank" style="color: #<%=data.color%>;font-size: 16px; text-decoration: none;display: block; background-color: #fff;height: 242px;line-height: 40px;">
		<img src="images/<%=data.src%>.jpg" style="display:block; border:none;" height="202px" width="206px">
		<span style="display:block; border:none;width: 206px;height: 40px;line-height: 40px;"><%=data.name%></span>
	</a>
</td>