<td style="<%=data.style%>" valign="top" align="center">
	<a href="<%=data.href%>" target="_blank" style="padding-top: 6px;">
		<img src="images/<%=data.src%>.jpg" style="border:0; display:block; border:#eee solid 1px;" width="148" height="121" border="0"></a>
	<a href="<%=data.href%>" target="_blank" style="text-decoration: none; color: rgb(51, 51, 51); display: block; padding-top: 6px;height: 30px;"><%=data.name%></a>
	<span style="color:#c50607; font-weight:bold;">As Low As<br><%=data.price%></span>
</td>