<td style="<%=data.style%>" valign="top" align="center">
	<a target="blank" href="<%=data.href%>">
		<img src="images/<%=data.src%>.jpg" style="display:block;border:none" width="190" height="198"></a>
	<a href="<%=data.href%>" style="font-size:18px;line-height:44px;text-decoration:none;display:block;background-color:#FFF;color:#<%=data.color%>"><%=data.name%></a>
</td>