<li style="display: <%=data.display%>;">
	<a title="<%=data.name%>" href="<%=data.url%>">
		<img data-pinit="registered" alt="<%=data.name%>" src="images/<%=data.src%>.jpg" height="230" width="580" border="0">
	</a>
</li>