<li <% if(data.class){ %> class="<%=data.class%>" <% } %> >
	<a title="<%=data.name%>" href="<%=data.url%>"> 
		<img src="images/<%=data.src%>.jpg" alt="<%=data.name%>" title="<%=data.name%>">
	</a>
</li>