<li <% if(data.class){ %> class="<%=data.class%>" <% } %> >
	<p class="ProductPhoto">
		<a href="<%=data.url%>" title="<%=data.name%>"> <img alt="<%=data.name%>" src="images/<%=data.src%>.jpg" data-pinit="registered" width="133" height="135" border="0"></a>
	</p>
	<p class="ProductName">
		<a href="<%=data.url%>"><%=data.name%></a>
	</p>
</li>