<li <% if(data.class){ %> class="<%=data.class%>" <% } %> >
	<p class="ProductPhoto ">
		<a href="<%=data.url%>" title="<%=data.name%>"> <img alt="<%=data.name%>" src="images/<%=data.src%>.jpg" border="0 " height="135 " width="135 "></a>
	</p>
	<p style="height: 32px;" class="ProductName ">
		<a href="<%=data.url%>"><%=data.name%></a>
	</p>
</li>