<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" itemscope itemtype="http://schema.org/Product" lang="ja" xml:lang="ja">

	<head>
		<meta name="google-site-verification" content="nd1pzd8AT7U0BvF2cgqsasWMajwqkCul-yYXl9yTAcE" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="p:domain_verify" content="949e328206538dbb4a1cced0da71a3e6" />
		<link rel="stylesheet" type="text/css" href="http://www.nbeads.com/buyer_japan/css/master.css?v=20170221" />
		<link rel="stylesheet" type="text/css" href="http://www.nbeads.com/buyer_japan/css/home.css?v=20170221" />
		<link rel="shortcut icon" href="http://www.nbeads.com/buyer/images/favicon.ico" type="image/x-icon" />
		<style>
			.ItemsContent li .ProductName{line-height: 16px;}

		</style>
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js',
				'ga');
			ga('create', 'UA-22897601-10', 'nbeads.com');
			ga('send', 'pageview');
		</script>
		<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.js?v=1122"></script>
		<script type="text/javascript" src="http://www.nbeads.com/buyer_japan/js/global.js?v=1122"></script>
		<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.DOMWindow.js"></script>
		<script type="text/javascript" src="http://www.nbeads.com/buyer_japan/js/home.js"></script>

		<script type="text/javascript">
			var ctx = "http://www.nbeads.com";
			var rate = "1.0000";
			var symbol = "US $";
		</script>
		<!--[if IE 6]>
		<script type="text/javascript" src="http://www.nbeads.com/common/js/DD_belatedPNG_0.0.8a-min.js"></script>
		<script type="text/javascript">DD_belatedPNG.fix('.SubMenus, .SubMenusBottom,.CartBoxTop,.CartBoxContent,.CartBoxBottom,.BoxRight,.BoxBottom,.PromotionLogo');</script>
		<![endif]-->
		<title>ビーズ通販 ジュエリー卸売 安いビーズやジュエリーを供給 - nbeads.com</title>
		<meta name="keywords" content="ビーズ通販,ビーズファクトリ,アクセサリービーズ,ジュエリーショップ,ビーズ卸売り,ジュエリー卸　" />
		<meta name="description" content="Nbeadsはビーズ通販会社であり、安い価格でビーズ、ジュエリー、チャーム、アクセサリー材料、ビーズ工具等の商品を供給します．ジュエリー、ビーズなどを卸売価格で購入できます．" />
		<script>
			(function() {
				var _fbq = window._fbq || (window._fbq = []);
				if(!_fbq.loaded) {
					var fbds = document.createElement('script');
					fbds.async = true;
					fbds.src = '//connect.facebook.net/en_US/fbds.js';
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(fbds, s);
					_fbq.loaded = true;
				}
				_fbq.push(['addPixelId', '309607869198749']);
			})();
			window._fbq = window._fbq || [];
			window._fbq.push(['track', 'PixelInitialized', {}]);
		</script>
		<noscript>
<img height="1" width="1" alt="" style="display: none" src=" https://www.facebook.com/tr?id=309607869198749&amp;ev=NoScript"/>
</noscript>
	</head>

	<body>
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if(d.getElementById(id))
					return;
				js = d.createElement(s);
				js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<div id="Wrap">
			<style>
				.promotion_time{background: url(http://www.nbeads.com/homephotos/20170405/jp/countdown-bg.jpg) no-repeat top center #4da23a;height: 61px;}
				.promotion_time .top_banner{width: 1000px;margin: 0 auto;position: relative;}
				.Promotion_num{float: right;padding: 13px 0 5px;position: absolute;right: 10px;top: 0;text-align: center;font-family: Arial, Helvetica, sans-serif;}
				.Promotion_num li{float: left;color: #4da23a;margin-right: 2px;font-size: 30px;}
				.Promotion_num .fenj{float: left;padding: 10px 1px;font-size: 30px;color: #fdff9c;margin-right: 0px;}
				.Promotion_num .fenj_days{padding: 16px 4px 0 2px;font-size: 16px;color: #e8fbaa;}
				.Promotion_num .day{width: 27px;height: 38px;line-height: 38px;background: url(http://www.nbeads.com/homephotos/20170405/jp/bg_timeday1.png) no-repeat;}
				.Promotion_num .hour{width: 22px;height: 35px;line-height: 35px;background: url(http://www.nbeads.com/homephotos/20170405/jp/bg_timehour1.png) no-repeat;margin-top: 3px;}
				.Promotion_num .right_no{margin-right: 0;}

			</style>
			<div id="promotionTime" class="promotion_time">
				<div class="top_banner">
					<a title="ホットアイテム　プロモーション 最大80％OFF 2017年4月24日の零時「PST」まで" href="http://www.nbeads.com/jp/search-%E3%83%97%E3%83%AD%E3%83%A2%E3%83%93%E3%83%BC%E3%82%BA-p1.html?showMode=1&sortIndex=4&jp=BN01_20170405">
						<img width="1000" height="61" border="0" alt="ホットアイテム　プロモーション 最大80％OFF 2017年4月24日の零時「PST」まで" src="http://www.nbeads.com/homephotos/20170405/jp/countdown.jpg">
					</a>
					<div class="Promotion_num">
						<ul>
							<li class="day" id="dayLeft">0</li>
							<li class="day" id="dayRight">0</li>
							<li class="fenj fenj_days">日</li>
							<li class="hour" id="hourLeft">0</li>
							<li class="hour right_no" id="hourRight">0</li>
							<li class="fenj">:</li>
							<li class="hour" id="minuteLeft">0</li>
							<li class="hour right_no" id="minuteRight">0</li>
							<li class="fenj">:</li>
							<li class="hour" id="secondLeft">0</li>
							<li class="hour" id="secondRight">0</li>
						</ul>
					</div>
				</div>
			</div>
			<input type="hidden" id="hidTotalSecond" value="1491459274829" />
			<script type="text/javascript">
				var PromotionTime = {
					timer: null,
					init: function() {
						// 夏令时提前一小时
						var totalSecond = this.totalTime("2017/04/24 23:59:59 GMT-0700", $(
							"#hidTotalSecond").val());
						if(totalSecond <= 0)
							return;
						this.setTime(totalSecond);
					},
					totalTime: function(date, sysdate) {
						var data = new Date(date);
						var longTime = data.getTime();
						var totalSecond = parseInt((longTime - sysdate) / 1000);
						return totalSecond;
					},
					setTime: function(totalSecond) {
						/*var dayText = "days";*/
						var day = Math.floor(totalSecond / (60 * 60 * 24));
						var hour = Math.floor(totalSecond / 3600) - (day * 24);
						var minute = Math.floor(totalSecond / 60) - (day * 24 * 60) -
							(hour * 60);
						var second = Math.floor(totalSecond) - (day * 24 * 60 * 60) -
							(hour * 60 * 60) - (minute * 60);
						var timeOver = parseInt(day) < 1 && parseInt(hour) < 1 &&
							parseInt(minute) < 1 && parseInt(second) < 1;

						if(second < 10) {
							$("#secondLeft").html("0");
							$("#secondRight").html(second);
						} else {
							var strS = second.toString(),
								s1 = strS.charAt(0),
								s2 = strS
								.charAt(1);
							$("#secondLeft").html(s1);
							$("#secondRight").html(s2);
						}

						if(minute < 10) {
							$("#minuteLeft").html("0");
							$("#minuteRight").html(minute);

						} else {
							var strM = minute.toString(),
								m1 = strM.charAt(0),
								m2 = strM
								.charAt(1);
							$("#minuteLeft").html(m1);
							$("#minuteRight").html(m2);
						}

						if(hour < 10) {
							$("#hourLeft").html("0");
							$("#hourRight").html(hour);
						} else {
							var strH = hour.toString(),
								h1 = strH.charAt(0),
								h2 = strH
								.charAt(1);
							$("#hourLeft").html(h1);
							$("#hourRight").html(h2);
						}

						if(day < 10) {
							$("#dayLeft").html("0");
							$("#dayRight").html(day);
						} else {
							var strD = day.toString(),
								d1 = strD.charAt(0),
								d2 = strD
								.charAt(1);
							$("#dayLeft").html(d1);
							$("#dayRight").html(d2);
						}

						/*if (day <= 1) {
						    dayText = "day";
						}
						$("#dayText").html(dayText);*/

						PromotionTime.timer = setTimeout(function() {
							if(timeOver) {
								$(".promotion_time").hide();
							} else {
								PromotionTime.setTime(totalSecond - 1);
							}
						}, 1000);
					}
				};
				$(function() {
					PromotionTime.init();
				});
			</script>
			<script>
				//放假通知
				(function($) {
					var docCookies = {
						getItem: function(sKey) {
							return decodeURIComponent(document.cookie.replace(new RegExp(
									"(?:(?:^|.*;)\\s*" +
									encodeURIComponent(sKey).replace(
										/[\-\.\+\*]/g, "\$&") +
									"\\s*\\=\\s*([^;]*).*$)|^.*$"), "$1")) ||
								null;
						},
						setItem: function(sKey, sValue, vEnd, sPath, sDomain, bSecure) {
							if(!sKey ||
								/^(?:expires|max\-age|path|domain|secure)$/i
								.test(sKey)) {
								return false;
							}
							var sExpires = "";
							if(vEnd) {
								switch(vEnd.constructor) {
									case Number:
										sExpires = vEnd === Infinity ? "; expires=Fri, 31 Dec 9999 23:59:59 GMT" :
											"; max-age=" + vEnd;
										break;
									case String:
										sExpires = "; expires=" + vEnd;
										break;
									case Date:
										sExpires = "; expires=" + vEnd.toUTCString();
										break;
								}
							}
							document.cookie = encodeURIComponent(sKey) + "=" +
								encodeURIComponent(sValue) + sExpires +
								(sDomain ? "; domain=" + sDomain : "") +
								(sPath ? "; path=" + sPath : "") +
								(bSecure ? "; secure" : "");
							return true;
						},
						removeItem: function(sKey, sPath, sDomain) {
							if(!sKey || !this.hasItem(sKey)) {
								return false;
							}
							document.cookie = encodeURIComponent(sKey) +
								"=; expires=Thu, 01 Jan 1970 00:00:00 GMT" +
								(sDomain ? "; domain=" + sDomain : "") +
								(sPath ? "; path=" + sPath : "");
							return true;
						},
						hasItem: function(sKey) {
							return(new RegExp("(?:^|;\\s*)" +
								encodeURIComponent(sKey).replace(/[\-\.\+\*]/g,
									"\$&") + "\\s*\\=")).test(document.cookie);
						},
						keys: function() {
							var aKeys = document.cookie
								.replace(
									/((?:^|\s*;)[^\=]+)(?=;|$)|^\s*|\s*(?:\=[^;]*)?(?:\1|$)/g,
									"").split(/\s*(?:\=[^;]*)?;\s*/);
							for(var nIdx = 0; nIdx < aKeys.length; nIdx++) {
								aKeys[nIdx] = decodeURIComponent(aKeys[nIdx]);
							}
							return aKeys;
						}
					};
					var $closeBtn = $("#closeBtn");

					if(!docCookies.hasItem('tips')) {
						$closeBtn.closest(".noticeTip").show();
					}
					$closeBtn.click(function() {
						$(this).closest(".noticeTip").hide();
						docCookies.setItem('tips', 'holiday notice', Infinity, '/');

					});

				})(jQuery);
			</script>
			<div id="Header">
				<div class="HeaderTop cls">
					<p class="HeaderLangNav WidthAuto">
						<a href="http://www.nbeads.com/">English</a><span></span>
						<a href="http://www.nbeads.com/fr/">Français</a><span></span>
						<a href="http://www.nbeads.com/ru/">Pусский</a><span></span>
						<a href="http://www.nbeads.com/de/">Deutsch</a>
						<span></span>
						<a href="http://www.nbeads.com/es/">Español</a><span></span>
						<a href="http://www.nbeads.com/jp/" class="choose">日本語</a>
					</p>
					<p class="WebsiteRelate">
						<a rel="nofollow" href="http://www.nbeads.com/jp/order-tracking.html">注文のトラッキング</a>&nbsp;&nbsp;|&nbsp;
						<a rel="nofollow" href="http://www.nbeads.com/jp/customer/myaccount/doOrderList.do">マイオーダー</a>&nbsp;&nbsp;|&nbsp;
						<a rel="nofollow" href="http://www.nbeads.com/jp/MyAccount">マイアカウント</a>&nbsp;&nbsp;|&nbsp;
						<a rel="nofollow" href="http://www.nbeads.com/jp/delivery-fee.html">送料</a>&nbsp;&nbsp;|&nbsp;
						<a rel="nofollow" href="http://www.nbeads.com/jp/help/default.html">ヘルプ</a>
					</p>
				</div>
				<div class="Logo">
					<a href="http://www.nbeads.com/jp/" title="nbeads.com">
						<img src="http://www.nbeads.com/buyer/images/master/Logo.jpg" alt="nbeads.com">
					</a>
				</div>
				<div class="LandingAndSearch_mid">
					<p id="login_info">
						こんにちは,
						<a rel="nofollow" href="http://www.nbeads.com/jp/sign-in.html">サインイン</a> /
						<a rel="nofollow" href="http://www.nbeads.com/jp/register.html">登録</a>
					</p>
					<div class="LandingAndSearch">
						<form id="formSearch" action="http://www.nbeads.com/jp/ProductSearch" method="post">
							<p class="cls">
								<input type="text" id="txtSearchProduct" name="keyword" class="SearchInput" maxlength="100" value="" />
								<input type="submit" id="btnSearchProduct" class="SearchBtn" value="" />
							</p>
						</form>
					</div>
				</div>
				<div class="HeaderRight">
					<div id="ToggleMiniCart" class="CartBox">
						<div id="MiniDetails" class="CartBoxDetails">
							<div id="minCartContent" class="CartBoxContent"></div>
						</div>
						<div class="CartMiniTitle">
							<span class="CartLeft"></span>
							<a href="http://www.nbeads.com/jp/shopping-cart.html">
								<p class="CartText">カートの中身：アイテム<strong><span id="cartItemQty">0</span></strong>つ &amp;
									<strong><span id="cartTotalPrice">US $0.00</span></strong>
								</p>
							</a>
							<span class="CartRight"></span>
							<div class="Clear"></div>
						</div>
					</div>
				</div>
				<div class="Clears"></div>
			</div>
			<div id="NavBar">
				<ul>
					<li class="HoverNav">
						<p>
							<a class="ArrowNone" href="http://www.nbeads.com/jp/">ホーム</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/jp/bead-categories.html" class="ArrowNone">ビーズカテゴリー</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/jp/featured-items-p1.html" class="ArrowNone">おすすめ商品</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/jp/small-lot.html" class="ArrowNone">小ロット</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/jp/recently-listed-items-p1.html" class="ArrowNone">最近リストアイテム</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/jp/mixed-products-p1.html" class="ArrowNone">混合商品</a>
						</p>
					</li>
					<li class="lastNav">
						<p>
							<a href="http://www.nbeads.com/jp/clearance.html" class="ArrowNone">見切りバーゲン</a>
						</p>
						<div class="NavPop" id="div_special">
							<ul>
								<li class="ItemFirst">
									<a href="http://www.nbeads.com/jp/special-offer-p1.html" title=""><img width="160" height="35" src="http://www.nbeads.com/homephotos/20140415/jp/sales.jpg" alt=""></a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div id="Content" style="padding-top: 10px;">
				<div class="ContentRight">
					<div class="ContentMain">
						<div class="ContentMainLeft">
							<style type="text/css">
								.banner_pic .Banner1{position: relative;background: url(http://www.nbeads.com/homephotos/20170124/jp/free-coupons.jpg) no-repeat;}
								.banner_pic .Banner1 a{width: 580px;height: 230px;display: block;}
								.banner_pic .Banner1 span{position: absolute;left: 395px;width: 119px;height: 29px;line-height: 29px;text-align: center;display: inline-block;font-size: 16px;color: #018e85;font-weight: bold;font-family: Arial, Helvetica, sans-serif;}
								.banner_pic .Banner1 span.code_5{top: 62px;}
								.banner_pic .Banner1 span.code_10{top: 94px;}
								.banner_pic .Banner1 span.code_30{top: 127px;}
								.banner_pic .Banner1 span.code_40{top: 160px;left: 400px;}
								.HomeadStatic li a{display: block;}
								.banner_pic p{position: absolute;bottom: 36px;left: 39px;}
								.banner_pic p span{width: 116px;font-size: 14px;color: #feffdd;line-height: 20px;margin-right: 13px;text-align: center;display: inline-block;float: left;font-weight: bold;font-family: arial;}

							</style>
							<div class="Homead">
								<div class="HomeadLeft">
									<div class="HomeadBanner" style="margin-bottom: 10px;" id="player">
										<ul class="player-index" style="width: auto; left: auto; right: 10px; top: 202px;">
											<% data.Banner.forEach(function(data, index){  %>
												<% if(index == 0) {%>
													<li class="current"><%=index+1%></li>
												<% }else {%>
													<li class=""><%=index+1%></li>
												<% } %>
											<% }) %>
										</ul>
										<ul class="banner_pic" id="piclist">
											<% data.Banner.forEach(function(data, index){  %>
												<% include ../Banner %>
											<% }) %>
										</ul>
								</div>
								<ul class="HomeadStatic">
									<% if(data.Img[0]&&data.Img[1]&&data.Img[2]&&data.Img[3]) {%>
									<li style="margin-right: 10px;">
										<a style="margin-bottom: 10px;" title="<%=data.Img[0].name%>" href="<%=data.Img[0].href%>">
											<img alt="<%=data.Img[0].name%>" src="images/<%=data.Img[0].src%>.jpg" border="0">
										</a>
										<a title="<%=data.Img[1].name%>" href="<%=data.Img[1].href%>">
											<img alt="<%=data.Img[1].name%>" src="images/<%=data.Img[1].src%>.jpg" border="0">
										</a>
									</li>
									<li style="margin-right: 10px;">
										<a title="<%=data.Img[2].name%>" href="<%=data.Img[2].href%>">
											<img alt="<%=data.Img[2].name%>" src="images/<%=data.Img[2].src%>.jpg" border="0">
										</a>
									</li>
									<li>
										<a title="<%=data.Img[3].name%>" href="<%=data.Img[3].href%>">
											<img alt="<%=data.Img[3].name%>" src="images/<%=data.Img[3].src%>.jpg" border="0">
										</a>
									</li>
									<% } %>
								</ul>
								</div>
								<div class="Clear"></div>
							</div>
							<div class="ItemsTitle">
								<h2>おすすめカテゴリー</h2>
							</div>
							<ul class="ItemsContent">
								<% data.RecommendedCategories.forEach(function(data, index){  %>
									<% include ../RecommendedCategories %>
								<% }) %>
							</ul>
							<div class="Clears"></div>
							<div class="ItemsTitle">
								<h2>おすすめ商品</h2>
								<a href="http://www.nbeads.com/jp/Featured-items.html">MORE &gt;&gt;</a>
								<div class="Clears"></div>
							</div>
							<ul class="ItemsContent RecentlyItems">
								<% data.FeaturedItems.forEach(function(data, index){  %>
									<% include ../FeaturedItems %>
								<% }) %>
							</ul>
							<div class="Clears"></div>
							<div class="ItemsTitle">
								<h2>ホットテーマ</h2>
								<div class="Clears"></div>
							</div>
							<ul class="ItemsContent HotThemes">
								<% data.HotThemes.forEach(function(data, index){  %>
									<% include ../HotThemes %>
								<% }) %>
							</ul>
							<div class="Clears"></div>
						</div>
						<div class="ContentMainRight">
							<div class="HomeadRight">
								<p>
									<a style="margin-bottom: 10px; display: block;" href="http://www.nbeads.com/jp/help/entried/1-%E9%80%9F%E3%81%84%E3%81%8B%E3%81%A4%E6%9C%80%E9%AB%98%E3%81%AE%E3%82%B5%E3%83%BC%E3%83%93%E3%82%B9---48%E6%99%82%E9%96%93%E5%86%85%E3%81%A7%E9%80%81%E3%82%8B%E3%81%A8%E7%B4%84%E6%9D%9F.html" title="48時間内出荷最小注文数はありません"> <img src="http://www.nbeads.com/homephotos/20130515/jp/24h.jpg" alt="48時間内出荷最小注文数はありません"></a>
								</p>
								<p>
									<a style="margin-bottom: 10px; display: block;" href="http://www.nbeads.com/jp/help/entried/55-%E3%81%AA%E3%81%AB!+%E3%83%9D%E3%82%B9%E3%83%88%E3%80%81%E3%82%B7%E3%82%A7%E3%82%A2%E3%81%99%E3%82%8B%E3%81%A8%E7%8F%BE%E9%87%91%E3%82%92%E3%82%B2%E3%83%83%E3%83%88%EF%BC%81.html?jp=BNR_20140708" title="ポスト、シェアすると現金をゲット！"> <img src="http://www.nbeads.com/homephotos/20140708/jp/post-share-and-win.jpg" alt="ポスト、シェアすると現金をゲット！" width="180" height="242" border="0"></a>
								</p>
							</div>
							<div class="RightItem">
								<h2>最近の注文</h2>
								<div class="OrderItems">
									<ul class="OrderItems_box OrderItems_liheight">
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1066563-ring-304-stainless-steel-bead-spacers-stainless-steel-color.html">STAS-N020-11-4mm:リング304のステンレ...</a>
											</p>
											<p class="transport">
												France M&eacute;tropolitaine に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1197459-natural-gemstone-cabochons-rose-quartz.html">X-G-H1598-DR-30x20-06:自然な宝石カボション...</a>
											</p>
											<p class="transport">
												United States に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1050114-1-strand-natural-turquoise-round-beads-strands-dyed.html">X-TURQ-G103-6mm-01:1のストランドの天然...</a>
											</p>
											<p class="transport">
												Canada に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1019292-unisex-casual-style-304-stainless-steel-cross-chain-necklaces-with-lobster-claw-clasps.html">STAS-O037-45P:ユニセックスカジュア...</a>
											</p>
											<p class="transport">
												United States に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1004750-304-stainless-steel-lobster-claw-clasps-grade-a.html">X-STAS-AB19:304ステンレス製ロブ...</a>
											</p>
											<p class="transport">
												United States に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-912147-elastic-cord-with-fibre-outside-and-rubber-inside.html">EC-R004-2.0mm-05:ゴムひも, 繊維外側と...</a>
											</p>
											<p class="transport">
												France M&eacute;tropolitaine に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1067048-natural-green-onyx-agate-round-bead-strands-6mm.html">G-N0120-38-6mm:自然の緑瑪瑙ラウンド...</a>
											</p>
											<p class="transport">
												United Arab Emirates に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1030027-vintage-tibetan-style-alloy-pendant-cabochon-bezel-settings-nickel-free.html">X-TIBEP-M018-125AB-NF:ヴィンテージチベット...</a>
											</p>
											<p class="transport">
												United States に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-968539-plum-ab-color-plated-acrylic-pony-heart-beads-about-8mm-in-diameter.html">X-PL539-820:梅のab色はアクリルポ...</a>
											</p>
											<p class="transport">
												United States に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1595658-opaque-glass-seed-beads-firebrick.html">X-SEED-R032-B03:不透明なガラスシード...</a>
											</p>
											<p class="transport">
												Switzerland に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-721354-304-stainless-steel-magnetic-clasps-column.html">STAS-E006-53:304のステンレス鋼磁...</a>
											</p>
											<p class="transport">
												Japan に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-936874-tibetan-style-alloy-pendants-leaf.html">TIBEP-3109-G-RS:チベットスタイルの合...</a>
											</p>
											<p class="transport">
												Mexico に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-938872-valentine-s-gifts-ideas-making-heart-shaped-tibetan-style-alloy-charms-pendants-cadmium-free-lead-free.html">X-TIBEP-16672-AS-RS:ハート形のチベットス...</a>
											</p>
											<p class="transport">
												France M&eacute;tropolitaine に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-338341-porcelain-tea-set-blue.html">CF472Y:磁器のティーセット, ...</a>
											</p>
											<p class="transport">
												United Kingdom に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-901505-round-tibetan-style-antique-silver-tone-spacer-beads-lead-free-nickel-free-cadmium-free.html">X-LF10326Y-NF:ラウンドチベットスタ...</a>
											</p>
											<p class="transport">
												United States に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1546469-stainless-steel-pendants-blank-stamping-tag.html">STAS-K090-01P-AAA:ステンレス鋼のペンダ...</a>
											</p>
											<p class="transport">
												Canada に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1315720-embossed-with-dragon-and-phoenix-pattern-stainless-steel-scissors-golden-stainless-steel-color.html">TOOL-N004-01A:龍と鳳凰パターンステ...</a>
											</p>
											<p class="transport">
												United States に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-895548-platinum-color-brass-hook-earwire-lead-free-cadmium-free-nickel-free.html">X-J0JQN062:プラチナカラーの真鍮...</a>
											</p>
											<p class="transport">
												United States に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1222045-lovely-iron-back-bar-pin-polka-dot-printed-wood-mustache-brooches-beard.html">X-JEWB-M003-M:素敵な鉄のプリント、...</a>
											</p>
											<p class="transport">
												France M&eacute;tropolitaine に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-893575-faceted-drop-transparent-clear-acrylic-pendants-47x22mm.html">X-TACR-82522-1:多面的なドロップ透明...</a>
											</p>
											<p class="transport">
												Canada に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1278047-brass-clasp-clip-ends-set-lobster-claw-clasp-with-cord-crimp-extender-chain.html">X-KK95-B:真鍮クラスプ＆クリッ...</a>
											</p>
											<p class="transport">
												France M&eacute;tropolitaine に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1004091-painted-glass-round-bead-strands-rubberized-style.html">X-DGLA-S072-4mm-24:塗装ガラスラウンドビ...</a>
											</p>
											<p class="transport">
												France M&eacute;tropolitaine に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-1029494-vintage-tibetan-style-alloy-large-flower-pendant-cabochon-bezel-settings-antique-silver.html">TIBEP-O006-55AS:ヴィンテージチベット...</a>
											</p>
											<p class="transport">
												Japan に出荷
											</p>
										</li>
										<li>
											<p>
												<a href="http://www.nbeads.com/jp/p-904998-10pcs-antique-silver-cross-tibetan-style-alloy-gothic-pendants-lead-free-cadmium-free.html">X-TIBEP-GC070-AS-RS:アンティークシルバー...</a>
											</p>
											<p class="transport">
												Germany に出荷
											</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="Clear"></div>
					</div>
				</div>
				<div class="ContentLeft">
					<div class="CategoryMenu">
						<dl>
							<dt>
<h2>
<a href="http://www.nbeads.com/jp/a-22-jewelry-beads.html">
ジュエリービーズ </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/jp/a-23-acrylic-beads.html">
									アクリルビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-47-p1-gemstone-beads.html">
									天然石ビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-48-glass-beads.html">
									ガラスビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-100-p1-wood-nut-beads.html">
									ウッド＆ナットビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-39-european-beads.html">
									ヨーロッパビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-72-p1-rhinestone-beads.html">
									ラインストーンビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-73-seed-bugle-beads.html">
									シード＆ビューグルビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-90-tibetan-style-jewelry.html">
									チベットスタイルのジュエリー </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-35-clay-beads.html">
									クレイビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-253-cubic-zirconia.html">
									キュービックジルコニア </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-61-lampwork-beads.html">
									ランプワークビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-68-metal-beads.html">
									メタルビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-71-p1-resin-beads.html">
									樹脂ビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-81-shell-pearl.html">
									シェル＆パール </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-85-austrian-crystal.html">
									オーストリアクリスタル </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-101-p1-woven-beads.html">
									編まれたビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-202-p1-other-more-beads.html">
									もっと他のビーズ </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/jp/a-218-buttons.html">
ボタン </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/jp/b-232-p1-snap-buttons.html">
									スナップボタン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-230-p1-shank-buttons.html">
									シャンクボタン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-234-p1-cufflinks.html">
									カフスボタン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-219-p1-wooden-buttons.html">
									ウッドボタン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-224-p1-coconut-buttons.html">
									ココナッツボタン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-228-p1-acrylic-buttons.html">
									アクリルボタン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-222-p1-resin-buttons.html">
									樹脂ボタン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-233-p1-plastic-buttons.html">
									プラスチックボタン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-225-p1-metal-buttons.html">
									金属ボタン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-229-p1-rhinestone-buttons.html">
									ラインストーンボタン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-231-p1-other-buttons.html">
									その他のボタン </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/jp/a-102-jewelry-findings.html">
ジュエリーファインディング </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/jp/a-149-pendants-charms.html">
									ペンダント＆チャーム </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-106-cabochons.html">
									カボション </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-258-cabochon-settings.html">
									ミール皿 </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-144-p1-jumprings.html">
									丸カン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-116-clasps.html">
									クラスプ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-104-p1-bead-cap-cone.html">
									ビーズキャップ＆コーン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-129-finding-beads.html">
									ファインディング ビーズ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-105-p1-bead-spacers.html">
									ビーズスペーサ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-115-p1-chain-findings.html">
									チェーンファインディング </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-123-earring-settings.html">
									イヤリングのセッテイ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-145-links.html">
									リンクス </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-170-p1-pinch-bails.html">
									バチカン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-171-pins.html">
									ピン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-175-p1-rhinestone-findings.html">
									ラインストーンファインディング </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-176-p1-finger-ring-settings.html">
									リングコンポーネント </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-177-p1-slide-charms.html">
									スライドチャーム </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-178-p1-sterling-silver.html">
									シルバー925 </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-179-p1-terminators.html">
									留め具 </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-103-p1-assorted-findings.html">
									アソートパーツ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-251-p1-garment-accessories.html">
									服飾素材 </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/jp/a-1-beading-supplies.html">
ビーディング用品 </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/jp/b-8-p1-jewelry-tools.html">
									アクセサリー工具 </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-6-p1-organza-bags.html">
									オーガンジー袋 </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-5-p1-beads-containers.html">
									ビーズコンテナ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-7-p1-storage-packaging.html">
									ストレージ＆パッケージング </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-2-box-display.html">
									ボックス＆ディスプレイ </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-204-p1-other-more-supplies.html">
									他の用品 </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/jp/a-180-stringing-materials.html">
糸材料 </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/jp/a-191-thread-cord.html">
									スレッド＆コード </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-198-p1-wire.html">
									ワイヤー </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-181-chains.html">
									チェーン </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/a-186-jewelry-making.html">
									ジュエリー作り </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-205-p1-other-more-cords.html">
									もっと他のコード </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/jp/a-235-hair-accessories-findings.html">
髪飾り＆ファインディング </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/jp/b-236-p1-hair-findings.html">
									ヘアファインディング </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-237-p1-hair-accessories.html">
									髪飾り </a>
							</dd>
						</dl>
						<dl class="Mg0 Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/jp/a-9-jewelry-watches.html">
ジュエリー＆ウォッチ </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/jp/a-242-watch-clock.html">
									ウォッチ& クロック </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-12-p1-bracelet-bangle.html">
									ブレスレット＆バングル </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-20-p1-necklace.html">
									ネックレス </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-15-p1-earring.html">
									イヤリング </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-21-p1-ring.html">
									リング </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-18-p1-jewelry-set.html">
									ジュエリーセット </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-271-p1-buddhist-products.html">
									ブッダビーズアクセサリー </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-241-p1-diy-jewelry-crafts.html">
									DIYジュエリー </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-270-p1-facial-nail-art-accessories.html">
									フェーシャル＆ネイルアートアクセサリー </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-269-p1-bag-accessories.html">
									バッグアクセサリー </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-19-p1-key-chain.html">
									キーホルダー </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-14-p1-decoration.html">
									デコレーション </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-250-p1-rock-climbing-products.html">
									登山用品 </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/jp/b-206-p1-other-more-jewelries.html">
									もっと他のジュエリー </a>
							</dd>
						</dl>
					</div>
					<div class="Latestproducts BorderWhite">
						<h2>最新の商品情報</h2>
						<ul class="NewProItems">
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/jp/p-1590919-304-stainless-steel-pendant-rhinestone-settings-locket-pendants.html"> <img src="http://photos.nbeads.com/2/C/7/50_50_2C77C9DE-9E3F-45BD-9AE2-081031C4249D.JPG" alt="STAS-Q197-06" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/jp/p-1590919-304-stainless-steel-pendant-rhinestone-settings-locket-pendants.html">
										STAS-Q197-06<br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/jp/p-548483-brass-rhinestone-beads-grade-a.html"> <img src="http://photos.nbeads.com/R/B/-/50_50_RB-A011-8MM-20G.JPG" alt="8mm ラウンド ブラスラインストーン ビーズ(RB-A011-8mm-20G)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/jp/p-548483-brass-rhinestone-beads-grade-a.html">
										8mm ラウンド ブラスラインストーン ビーズ(RB-A011-8mm-20G)<br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/jp/p-583334-imitation-pearl-acrylic-beads-abs.html"> <img src="http://photos.nbeads.com/6/3/6/50_50_636FFB09-1E62-4D17-9714-AFFCB7EE8B74.JPG" alt="15mm 濃いピンク ライス アクリル ビーズ(MACR-G006-5)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/jp/p-583334-imitation-pearl-acrylic-beads-abs.html">
										15mm 濃いピンク ライス アクリル ビーズ(MACR-G006-5)<br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/jp/p-616392-moonstone-beads-strands-round.html"> <img src="http://photos.nbeads.com/B/3/7/50_50_B37698A5-E110-47D6-B64D-177F519FD3B4.JPG" alt="10mm ラウンド ムーンストーン ビーズ(G-C068-10mm-1)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/jp/p-616392-moonstone-beads-strands-round.html">
										10mm ラウンド ムーンストーン ビーズ(G-C068-10mm-1)<br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/jp/p-974765-new-items-high-quality-handmade-carved-ox-bone-beads-strands-oval.html"> <img src="http://photos.nbeads.com/E/7/5/50_50_E7512459-7629-4E2E-8689-E0D6572B7BB4.JPG" alt="28mm アイボリー オーバル 骨 ビーズ(BONE-L001-27B)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/jp/p-974765-new-items-high-quality-handmade-carved-ox-bone-beads-strands-oval.html">
										28mm アイボリー オーバル 骨 ビーズ(BONE-L001-27B)<br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/jp/p-1133915-brass-black-lip-shell-flower-big-pendants-with-shell-pearl.html"> <img src="http://photos.nbeads.com/4/0/6/50_50_406FE61A-D03A-4620-8650-FBBAD8321E0C.JPG" alt="プラチナ 花 リップシェル(SSHEL-F0006-49B)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/jp/p-1133915-brass-black-lip-shell-flower-big-pendants-with-shell-pearl.html">
										プラチナ 花 リップシェル(SSHEL-F0006-49B)<br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/jp/p-1139517-tibetan-style-alloy-beads-dorje-vajra-for-buddhist-jewelry.html"> <img src="http://photos.nbeads.com/B/8/D/50_50_B8DD62C0-D74D-45E0-9B13-396D0DDCB509.JPG" alt="合金 ビーズ(TIBEB-O004-33)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/jp/p-1139517-tibetan-style-alloy-beads-dorje-vajra-for-buddhist-jewelry.html">
										合金 ビーズ(TIBEB-O004-33)<br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/jp/p-1040763-mixed-nature-lava-goddess-household-display-decorations-54x29x19mm.html"> <img src="http://photos.nbeads.com/E/2/9/50_50_E29E08F4-6960-4A89-99AC-B009957DE87B.JPG" alt="混合色 その他 天然石 デコレーション(G-M062-M)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/jp/p-1040763-mixed-nature-lava-goddess-household-display-decorations-54x29x19mm.html">
										混合色 その他 天然石 デコレーション(G-M062-M)<br/>
									</a>
								</p>
							</li>
						</ul>
					</div>
					<div class="Categories NewsLetter">
						<div class="BorderWhite">
							<h4>ニュースレター</h4>
							<p style="font-size:11px;">Nbeadsニュースにサインアップ</p>
							<input type="text" maxlength="100" id="txtNewsLetter" name="txtNewsLetter" class="NewsletterInput" />
							<input type="button" id="btnNewsLetter" class="NLBtnSubmit" />
						</div>
					</div>
				</div>
				<div class="Clear"></div>
			</div>
			<div id="Footer">
				<p>
					<a rel="nofollow" href='http://www.nbeads.com/jp/help/entried/4-Nbeads.com+.html'>会社紹介</a>
					|
					<a href="http://www.nbeads.com/jp/sitemap.html">サイトマップ</a> |
					<a rel="nofollow" href='http://www.nbeads.com/jp/help/entried/31-%E3%83%97%E3%83%A9%E3%82%A4%E3%83%90%E3%82%B7%E3%83%BC%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC.html'>プライバシーポリシー</a>
					|
					<a rel="nofollow" href='http://www.nbeads.com/jp/help/categories/8-%E7%A8%8E%E9%96%A2%E3%81%A8%E9%96%A2%E7%A8%8E-p1.html'>税 &関税
					</a> |
					<a rel="nofollow" href='http://www.nbeads.com/jp/help/entried/13-%E8%BF%94%E5%93%81%EF%BC%86%E6%89%95%E3%81%84%E6%88%BB%E3%81%97%E3%83%9D%E3%83%AA%E3%82%B7%E3%83%BC%E3%81%A8%E3%81%AF%E4%BD%95%E3%81%A7%E3%81%99%E3%81%8B%EF%BC%9F.html'>返品ポリシー</a>
					|
					<a rel="nofollow" href='http://www.nbeads.com/jp/help/anonymous-requests/new.html'>お問い合わせ</a> |
					<a rel="nofollow" href='http://www.nbeads.com/jp/delivery-fee.html'>送料</a> <br/> <b>パートナーズ:</b>
					<script type="text/javascript">
						(function() {
							var upfront = document.createElement('SCRIPT');
							upfront.type = "text/javascript";
							upfront.async = true;
							upfront.src = document.location.protocol +
								"//upfront.thefind.com/scripts/main/utils-init-ajaxlib/upfront-badgeinit.js";
							upfront.text = "thefind.upfront.init('tf_upfront_badge', 'd49ec4afe0df6d345891563c9a50cbd8')";
							document.getElementsByTagName('HEAD')[0]
								.appendChild(upfront);
						})();
					</script>
					<a rel="nofollow" href="http://www.pandahall.com" title="PandaHall.com" Target="_blank"><b>PandaHall.com</b> </a> |
					<a rel="nofollow" href="http://www.pandawhole.com" title="PandaWhole.com" Target="_blank"><b>PandaWhole.com</b> </a>
				</p>
				<p class="CopyText">&copy;2011 - 2017 EC World International Limited All rights reserved.</p>
				<div class="Clear"></div>
			</div>
			<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.DOMWindow.js"></script>
			<script type="text/javascript" src="http://www.nbeads.com/buyer_japan/js/loginpop.js?v=1123"></script>
			<script type="text/javascript">
				var totalWeight = "";
			</script>
		</div>
		<div style="height: 20px;">
			<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.DOMWindow.js"></script>
			<div class="FixBox">
				<div class="FixRegion">
					<p class="top"></p>
					<div class="FixRegionWrap">
						<div id="Region" class="Region en-family">
							<p id="Region1" onclick="regionAndDeliveryCk(this)"><span class="RegionFlag CN"></span> &nbsp;
								<a>China</a>
							</p> /
							<a><span id="Region2" onclick="regionAndDeliveryCk(this)">$米国　USD</span></a>
						</div>
						<div class="GoogleTranslate">
							<p>Google翻訳</p>
							<div class="GoogleTranslateSel">
								<div id="google_translate_element"></div>
								<script>
									function googleTranslateElementInit() {
										new google.translate.TranslateElement({
											pageLanguage: 'en',
											autoDisplay: false
										}, 'google_translate_element');
									}
								</script>
								<script type="text/javascript">
									var translate = document.createElement('script');
									translate.type = 'text/javascript';
									translate.async = true;
									translate.src = ('https:' == document.location.protocol ? 'https://' :
										'http://') + 'translate.google.com/translate_a/element.js?cb=googleTranslateElementInit';
									var s = document.getElementsByTagName('script')[0];
									s.parentNode.insertBefore(translate, s);
									$(window).unbind("scroll")
								</script>
							</div>
						</div>
						<a id="FeedbackLink" class="Feedback" title="Nbeads.comで楽しいショッピング体験を確保するために、アイデアを示してください．">ご提案ありますか？</a>
						<div id="feedbackbox" style="display:none">
							<div class="FeedbackBox">
								<span title="閉じる" class="BtnBoxClose" id="BtnBoxClose"></span>
								<div class="MainPopContent MainFeedback">
									<p class="PopboxTitle">自我でNbeads.comに楽しいショッピングを確保してください</p>
									<div class="Desc">
										<p>Nbeads.comへようこそ！</p>
										<p>本社はお客様がNbeads.comで楽しく買い物をすることを心からお楽しみしています．何が不便なことがあったら、本社に知らせてください．Nbeads.comに関する提案がなんでも期待しています．</p>
									</div>
									<ul>
										<li class="SuggestBox">
											<textarea id="feedbackCont" rows="5" cols="80" maxlength="400"></textarea>
											<span></span>
										</li>
										<li>
											<p>メールアドレス：</p>
											<input id="email" class="GrayTextBox" type="text" maxlength="100" value="" />
											<span></span>
										</li>
										<li>
											<input class="FeedbackBtn" type="button" />
										</li>
									</ul>
									<div class="Tips">
										ヒント：
										<p>
											お客様のご貴重​​なアドバイスを採用された場合は現金、無料プレゼント、割引コードなどのプレゼントを取得できます．
										</p>
										<p>
											ご注文に関する詳しい質問がある場合は、
											<a href="http://www.nbeads.com/jp/Help/Ask-Question.html">Nbeadsカスタマーサービス</a> に連絡するか、
											<a href="http://www.nbeads.com/Help/Default.html">ヘルプセンター</a>にアクセスしてください．
										</p>
									</div>
								</div>
								<div class="MainPopContent MainFeedback" style="display:none">
									<p class="PopboxTitle">フィードバックに寄せていただきありがとうございます！</p>
									<div class="Desc">
										<p>ご提案は本社のサービスの改善に役立たせていただきます．</p>
									</div>
									<ul>
										<li>
											<input class="CloseBtn" type="button" />
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div id="RegionSettingBox" style="display:none">
							<div class="RegionSettingBox">
								<span title="閉じる" class="BtnBoxClose" id="BtnBoxClose" onclick="closeWindow()"></span>
								<div class="MainPopContent MainSetting"></div>
							</div>
						</div>
						<div id="DeliveryFeeBox" style="display:none">
							<div class="DeliveryFeeBox">
								<span title="閉じる" class="BtnBoxClose" id="BtnBoxClose" onclick="closeWindow()"></span>
								<div class="MainPopContent MainDeliveryFee"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script>
				(function(w, d, t, r, u) { var f, n, i;
					w[u] = w[u] || [], f = function() { var o = { ti: "4021471" };
						o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad") }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function() { var s = this.readyState;
						s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null) }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i) })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
			</script>
		</div>

		<script type="text/javascript">
			var google_tag_params = {
				ecomm_prodid: "",
				ecomm_pagetype: "home",
				ecomm_totalvalue: ""
			};
		</script>
		<script type="text/javascript">
			/* __tag_713$3_ */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
<div style="display: inline;">
<img height="1" width="1" style="border-style: none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/975754985/?value=0&amp;label=rC_4CNfj5gQQ6a2j0QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
		<script>
			(function() {
				var wsta = document.createElement('script');
				wsta.type = 'text/javascript';
				wsta.async = true;
				wsta.src = '//www.qushopping.net/wsta.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wsta, s);
			})();
		</script>
	</body>

</html>