<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">

	<head>
		<meta name="google-site-verification" content="nd1pzd8AT7U0BvF2cgqsasWMajwqkCul-yYXl9yTAcE" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="p:domain_verify" content="949e328206538dbb4a1cced0da71a3e6" />
		<link rel="stylesheet" type="text/css" href="http://www.nbeads.com/buyer_french/css/master.css?v=20170221" />
		<link rel="stylesheet" type="text/css" href="http://www.nbeads.com/buyer_french/css/home.css?v=20170221" />
		<link rel="shortcut icon" href="http://www.nbeads.com/buyer/images/favicon.ico" type="image/x-icon" />
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js',
				'ga');
			ga('create', 'UA-22897601-3', 'nbeads.com');
			ga('send', 'pageview');
		</script>
		<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.js"></script>
		<script type="text/javascript" src="http://www.nbeads.com/buyer_french/js/global.js?v=20170221"></script>
		<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.DOMWindow.js"></script>
		<script type="text/javascript" src="http://www.nbeads.com/buyer_french/js/home.js?v=20170221"></script>

		<script type="text/javascript">
			var ctx = "http://www.nbeads.com";
			var rate = "1.0000";
			var symbol = "US $";
		</script>
		<!--[if IE 6]>
		<script type="text/javascript" src="http://www.nbeads.com/common/js/DD_belatedPNG_0.0.8a-min.js"></script>
		<script type="text/javascript">DD_belatedPNG.fix('.SubMenus, .SubMenusBottom,.CartBoxTop,.CartBoxContent,.CartBoxBottom,.BoxRight,.BoxBottom,.PromotionLogo');</script>
		<![endif]-->
		<title>Grossiste en perles pas cher, perles de bijoux en gros–nbeads.com
		</title>
		<meta name="keywords" content="perles pas cher, grossiste en perles, perles de bijoux, perles en gros " />
		<meta name="description" content="Nous sommes l'un des grands grossistes en perles et accessoires pour la création de bijoux, une boutique en ligne de perles et accessoires, vente en gros de perles et accessoires, de grande qualité et pas cher, depuis de nombreuses années." />
		<script>
			(function() {
				var _fbq = window._fbq || (window._fbq = []);
				if(!_fbq.loaded) {
					var fbds = document.createElement('script');
					fbds.async = true;
					fbds.src = '//connect.facebook.net/en_US/fbds.js';
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(fbds, s);
					_fbq.loaded = true;
				}
				_fbq.push(['addPixelId', '309607869198749']);
			})();
			window._fbq = window._fbq || [];
			window._fbq.push(['track', 'PixelInitialized', {}]);
		</script>
		<noscript>
<img height="1" width="1" alt="" style="display: none" src=" https://www.facebook.com/tr?id=309607869198749&amp;ev=NoScript"/>
</noscript>
	</head>

	<body>
		<div id="Wrap">
			<style>
				.promotion_time{background: url(http://www.nbeads.com/homephotos/20170405/fr/countdown-bg.jpg) no-repeat top center #4da23a;height: 61px;}
				.promotion_time .top_banner{width: 1000px;margin: 0 auto;position: relative;}
				.Promotion_num{float: right;padding: 13px 0 5px;position: absolute;right: 10px;top: 0;text-align: center;font-family: Arial, Helvetica, sans-serif;}
				.Promotion_num li{float: left;color: #4da23a;margin-right: 2px;font-size: 30px;}
				.Promotion_num .fenj{float: left;padding: 0 1px;font-size: 30px;color: #fdff9c;margin-right: 0px;}
				.Promotion_num .fenj_days{padding: 16px 4px 0 2px;font-size: 16px;color: #e8fbaa;}
				.Promotion_num .day{width: 27px;height: 38px;line-height: 38px;background: url(http://www.nbeads.com/homephotos/20170405/fr/bg_timeday1.png) no-repeat;}
				.Promotion_num .hour{width: 22px;height: 35px;line-height: 35px;background: url(http://www.nbeads.com/homephotos/20170405/fr/bg_timehour1.png) no-repeat;margin-top: 3px;}
				.Promotion_num .right_no{margin-right: 0;}

			</style>
			<div id="promotionTime" class="promotion_time">
				<div class="top_banner">
					<a title="Promotion d'Articles Chaudes  Jusqu'à 80% OFF Se termine à minuit le 24 avril 2017  PST " href="http://www.nbeads.com/fr/search-perles+en+promotion-p1.html?showMode=1&sortIndex=4&fr=BN01_20170405">
						<img width="1000" height="61" border="0" alt="Promotion d'Articles Chaudes  Jusqu'à 80% OFF Se termine à minuit le 24 avril 2017  PST " src="http://www.nbeads.com/homephotos/20170405/fr/countdown.jpg">
					</a>
					<div class="Promotion_num">
						<ul>
							<li class="day" id="dayLeft">0</li>
							<li class="day" id="dayRight">0</li>
							<li class="fenj fenj_days">Jours</li>
							<li class="hour" id="hourLeft">0</li>
							<li class="hour right_no" id="hourRight">0</li>
							<li class="fenj">:</li>
							<li class="hour" id="minuteLeft">0</li>
							<li class="hour right_no" id="minuteRight">0</li>
							<li class="fenj">:</li>
							<li class="hour" id="secondLeft">0</li>
							<li class="hour" id="secondRight">0</li>
						</ul>
					</div>
				</div>
			</div>
			<input type="hidden" id="hidTotalSecond" value="1491459145709" />
			<script type="text/javascript">
				var PromotionTime = {
					timer: null,
					init: function() {
						// 夏令时提前一小时
						var totalSecond = this.totalTime("2017/04/24 23:59:59 GMT-0700", $(
							"#hidTotalSecond").val());
						if(totalSecond <= 0)
							return;
						this.setTime(totalSecond);
					},
					totalTime: function(date, sysdate) {
						var data = new Date(date);
						var longTime = data.getTime();
						var totalSecond = parseInt((longTime - sysdate) / 1000);
						return totalSecond;
					},
					setTime: function(totalSecond) {
						/*var dayText = "days";*/
						var day = Math.floor(totalSecond / (60 * 60 * 24));
						var hour = Math.floor(totalSecond / 3600) - (day * 24);
						var minute = Math.floor(totalSecond / 60) - (day * 24 * 60) -
							(hour * 60);
						var second = Math.floor(totalSecond) - (day * 24 * 60 * 60) -
							(hour * 60 * 60) - (minute * 60);
						var timeOver = parseInt(day) < 1 && parseInt(hour) < 1 &&
							parseInt(minute) < 1 && parseInt(second) < 1;

						if(second < 10) {
							$("#secondLeft").html("0");
							$("#secondRight").html(second);
						} else {
							var strS = second.toString(),
								s1 = strS.charAt(0),
								s2 = strS
								.charAt(1);
							$("#secondLeft").html(s1);
							$("#secondRight").html(s2);
						}

						if(minute < 10) {
							$("#minuteLeft").html("0");
							$("#minuteRight").html(minute);

						} else {
							var strM = minute.toString(),
								m1 = strM.charAt(0),
								m2 = strM
								.charAt(1);
							$("#minuteLeft").html(m1);
							$("#minuteRight").html(m2);
						}

						if(hour < 10) {
							$("#hourLeft").html("0");
							$("#hourRight").html(hour);
						} else {
							var strH = hour.toString(),
								h1 = strH.charAt(0),
								h2 = strH
								.charAt(1);
							$("#hourLeft").html(h1);
							$("#hourRight").html(h2);
						}

						if(day < 10) {
							$("#dayLeft").html("0");
							$("#dayRight").html(day);
						} else {
							var strD = day.toString(),
								d1 = strD.charAt(0),
								d2 = strD
								.charAt(1);
							$("#dayLeft").html(d1);
							$("#dayRight").html(d2);
						}

						/*if (day <= 1) {
						    dayText = "day";
						}
						$("#dayText").html(dayText);*/

						PromotionTime.timer = setTimeout(function() {
							if(timeOver) {
								$(".promotion_time").hide();
							} else {
								PromotionTime.setTime(totalSecond - 1);
							}
						}, 1000);
					}
				};
				$(function() {
					PromotionTime.init();
				});
			</script>
			<script>
				//放假通知
				(function($) {
					var docCookies = {
						getItem: function(sKey) {
							return decodeURIComponent(document.cookie.replace(new RegExp(
									"(?:(?:^|.*;)\\s*" +
									encodeURIComponent(sKey).replace(
										/[\-\.\+\*]/g, "\$&") +
									"\\s*\\=\\s*([^;]*).*$)|^.*$"), "$1")) ||
								null;
						},
						setItem: function(sKey, sValue, vEnd, sPath, sDomain, bSecure) {
							if(!sKey ||
								/^(?:expires|max\-age|path|domain|secure)$/i
								.test(sKey)) {
								return false;
							}
							var sExpires = "";
							if(vEnd) {
								switch(vEnd.constructor) {
									case Number:
										sExpires = vEnd === Infinity ? "; expires=Fri, 31 Dec 9999 23:59:59 GMT" :
											"; max-age=" + vEnd;
										break;
									case String:
										sExpires = "; expires=" + vEnd;
										break;
									case Date:
										sExpires = "; expires=" + vEnd.toUTCString();
										break;
								}
							}
							document.cookie = encodeURIComponent(sKey) + "=" +
								encodeURIComponent(sValue) + sExpires +
								(sDomain ? "; domain=" + sDomain : "") +
								(sPath ? "; path=" + sPath : "") +
								(bSecure ? "; secure" : "");
							return true;
						},
						removeItem: function(sKey, sPath, sDomain) {
							if(!sKey || !this.hasItem(sKey)) {
								return false;
							}
							document.cookie = encodeURIComponent(sKey) +
								"=; expires=Thu, 01 Jan 1970 00:00:00 GMT" +
								(sDomain ? "; domain=" + sDomain : "") +
								(sPath ? "; path=" + sPath : "");
							return true;
						},
						hasItem: function(sKey) {
							return(new RegExp("(?:^|;\\s*)" +
								encodeURIComponent(sKey).replace(/[\-\.\+\*]/g,
									"\$&") + "\\s*\\=")).test(document.cookie);
						},
						keys: function() {
							var aKeys = document.cookie
								.replace(
									/((?:^|\s*;)[^\=]+)(?=;|$)|^\s*|\s*(?:\=[^;]*)?(?:\1|$)/g,
									"").split(/\s*(?:\=[^;]*)?;\s*/);
							for(var nIdx = 0; nIdx < aKeys.length; nIdx++) {
								aKeys[nIdx] = decodeURIComponent(aKeys[nIdx]);
							}
							return aKeys;
						}
					};
					var $closeBtn = $("#closeBtn");
					if(!docCookies.hasItem('tips')) {
						$closeBtn.closest(".noticeTip").show();
					}
					$closeBtn.click(function() {
						$(this).closest(".noticeTip").hide();
						docCookies.setItem('tips', 'holiday notice', Infinity, '/');
					});

				})(jQuery);
			</script>
			<div id="Header">
				<div class="HeaderTop cls">
					<p class="HeaderLangNav WidthAuto">
						<a href="http://www.nbeads.com">English</a><span></span>
						<a href="javascript:void(0)" class="choose">Français</a><span></span>
						<a href="http://www.nbeads.com/ru/">Pусский</a><span></span>
						<a href="http://www.nbeads.com/de/">Deutsch</a>
						<span></span>
						<a href="http://www.nbeads.com/es/">Español</a><span></span>
						<a href="http://www.nbeads.com/jp/">日本語</a>
					</p>
					<p class="WebsiteRelate">
						<a rel="nofollow" href="http://www.nbeads.com/fr/order-tracking.html">Suivi De Ma Commande</a> |
						<a rel="nofollow" href="http://www.nbeads.com/fr/customer/myaccount/doOrderList.do">Mes commandes</a> |
						<a rel="nofollow" href="http://www.nbeads.com/fr/MyAccount">Mon Compte</a> |
						<a rel="nofollow" href="http://www.nbeads.com/fr/delivery-fee.html">Frais De Port</a> |
						<a rel="nofollow" href="http://www.nbeads.com/fr/help/default.html">Aide</a>
					</p>
				</div>
				<div class="Logo">
					<a href="http://www.nbeads.com/fr/" title="nbeads.com">
						<img src="http://www.nbeads.com/buyer/images/master/Logo.jpg" alt="nbeads.com" />
					</a>
				</div>
				<div class="LandingAndSearch_mid">
					<p id="login_info">
						Bonjour,
						<a rel="nofollow" href="http://www.nbeads.com/fr/sign-in.html">Se connecter</a> ou
						<a rel="nofollow" href="http://www.nbeads.com/fr/register.html">S'inscrire</a>
					</p>
					<div class="LandingAndSearch">
						<form id="formSearch" action="http://www.nbeads.com/fr/ProductSearch" method="POST">
							<p class="cls">
								<input type="text" id="txtSearchProduct" name="keyword" class="SearchInput" maxlength="100" value="" />
								<input type="submit" id="btnSearchProduct" class="SearchBtn" value="" />
							</p>
						</form>
					</div>
				</div>
				<div class="HeaderRight">
					<div id="ToggleMiniCart" class="CartBox">
						<div id="MiniDetails" class="CartBoxDetails">
							<div id="minCartContent" class="CartBoxContent"></div>
						</div>
						<div class="CartMiniTitle">
							<span class="CartLeft"></span>
							<a href="http://www.nbeads.com/fr/shopping-cart.html">
								<p class="CartText">Panier: <strong><span id="cartItemQty">0</span></strong> article(s) &amp;
									<strong><span id="cartTotalPrice">US $0.00</span></strong>
								</p>
							</a>
							<span class="CartRight"></span>
							<div class="Clear"></div>
						</div>
					</div>
				</div>
				<div class="Clears"></div>
			</div>
			<div id="NavBar">
				<ul>
					<li class="HoverNav">
						<p>
							<a class="ArrowNone" href="http://www.nbeads.com/fr/">Accueil</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/fr/bead-categories.html" class="ArrowNone">Catégories de perles</a>
						</p>
					</li>
					<li>
						<p>
							<a class="ArrowNone" href="http://www.nbeads.com/fr/featured-items-p1.html">Meilleures Ventes</a>
						</p>
					</li>
					<li>
						<p>
							<a class="ArrowNone" href="http://www.nbeads.com/fr/small-lot.html">Petit Lot</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/fr/recently-listed-items-p1.html" class="ArrowNone">Nouveautés</a>
						</p>
					</li>
					<li>
						<p>
							<a href="http://www.nbeads.com/fr/mixed-products-p1.html" class="ArrowNone">Produits Mixtes</a>
						</p>
					</li>
					<li class="lastNav">
						<p>
							<a href="http://www.nbeads.com/fr/clearance.html" class="ArrowNone">Déstockage</a>
						</p>
						<div class="NavPop" id="div_special">
							<ul>
								<li class="ItemFirst">
									<a href="http://www.nbeads.com/fr/special-offer-p1.html" title=""><img width="160" height="35" src="http://www.nbeads.com/homephotos/20140415/fr/sales.jpg" alt=""></a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div id="Content" style="padding-top: 10px;">
				<div class="ContentRight">
					<div class="ContentMainLeft">
						<style type="text/css">
							.banner_pic .Banner1{position: relative;background: url(http://www.nbeads.com/homephotos/20170124/fr/free-coupons.jpg) no-repeat;}
							.banner_pic .Banner1 a{width: 580px;height: 230px;display: block;}
							.banner_pic .Banner1 span{position: absolute;left: 413px;width: 119px;height: 29px;line-height: 29px;text-align: center;display: inline-block;font-size: 16px;color: #018e85;font-weight: bold;}
							.banner_pic .Banner1 span.code_5{top: 65px;}
							.banner_pic .Banner1 span.code_10{top: 97px;}
							.banner_pic .Banner1 span.code_30{top: 130px;}
							.banner_pic .Banner1 span.code_40{top: 164px;left: 418px;}
							.HomeadStatic li a{display: block;}
							.banner_pic p{position: absolute;bottom: 36px;left: 39px;}
							.banner_pic p span{width: 116px;font-size: 14px;color: #feffdd;line-height: 20px;margin-right: 13px;text-align: center;display: inline-block;float: left;font-weight: bold;}

						</style>
						<div class="Homead">
							<div class="HomeadLeft">
								<div class="HomeadBanner" style="margin-bottom: 10px;" id="player">
										<ul class="player-index" style="width: auto; left: auto; right: 10px; top: 202px;">
											<% data.Banner.forEach(function(data, index){  %>
												<% if(index == 0) {%>
													<li class="current"><%=index+1%></li>
												<% }else {%>
													<li class=""><%=index+1%></li>
												<% } %>
											<% }) %>
										</ul>
										<ul class="banner_pic" id="piclist">
											<% data.Banner.forEach(function(data, index){  %>
												<% include ../Banner %>
											<% }) %>
										</ul>
								</div>
								<ul class="HomeadStatic">
									<% if(data.Img[0]&&data.Img[1]&&data.Img[2]&&data.Img[3]) {%>
									<li style="margin-right: 10px;">
										<a style="margin-bottom: 10px;" title="<%=data.Img[0].name%>" href="<%=data.Img[0].href%>">
											<img alt="<%=data.Img[0].name%>" src="images/<%=data.Img[0].src%>.jpg" border="0">
										</a>
										
										<a title="<%=data.Img[1].name%>" href="<%=data.Img[1].href%>">
											<img alt="<%=data.Img[1].name%>" src="images/<%=data.Img[1].src%>.jpg" border="0">
										</a>
									</li>
									<li style="margin-right: 10px;">
										<a title="<%=data.Img[2].name%>" href="<%=data.Img[2].href%>">
											<img alt="<%=data.Img[2].name%>" src="images/<%=data.Img[2].src%>.jpg" border="0">
										</a>
									</li>
									<li>
										<a title="<%=data.Img[3].name%>" href="<%=data.Img[3].href%>">
											<img alt="<%=data.Img[3].name%>" src="images/<%=data.Img[3].src%>.jpg" border="0">
										</a>
									</li>
									<% } %>
								</ul>
							</div>
							<div class="Clear"></div>
						</div>
						<div class="ItemsTitle">
							<h2>Les Catégories Recommandées</h2>
						</div>
						<ul class="ItemsContent">
							<% data.RecommendedCategories.forEach(function(data, index){  %>
									<% include ../RecommendedCategories %>
							<% }) %>
						</ul>
						<div class="Clears"></div>
						<div class="ItemsTitle">
							<h2>Meilleures Ventes</h2>
							<a href="http://www.nbeads.com/fr/Featured-items.html">Plus >></a>
							<div class="Clears"></div>
						</div>
						<ul class="ItemsContent RecentlyItems">
							<% data.FeaturedItems.forEach(function(data, index){  %>
									<% include ../FeaturedItems %>
							<% }) %>
						</ul>
						<div class="Clears"></div>
						<div class="ItemsTitle">
							<h2>Thèmes En Vogue</h2>
							<div class="Clears"></div>
						</div>
						<ul class="ItemsContent HotThemes">
							<% data.HotThemes.forEach(function(data, index){  %>
									<% include ../HotThemes %>
							<% }) %>
						</ul>
						<div class="Clears"></div>
					</div>
					<div class="ContentMainRight">
						<div class="HomeadRight">
							<p>
								<a style="margin-bottom: 10px; display: block;" href="http://www.nbeads.com/fr/help/entried/61-service-rapide-et-meilleur-48-heures-expediant-promis.html" title="Livraison sous 48H Sans Minimum De Commande"><img src="http://www.nbeads.com/homephotos/french/20150216/48-H.jpg" alt="Livraison sous 48H Sans Minimum De Commande" /> </a>
							</p>
							<p>
								<a style="display: block;" href="http://www.nbeads.com/fr/help/entried/75-ce-qui-se-passe-afficher-partager-et-gagner-de-l-argent.html?fr=BNR_20140708" title="Afficher, Partager et gagner de l'argent!"><img src="http://www.nbeads.com/homephotos/20140708/fr/post-share-and-win.jpg" alt="Afficher, Partager et gagner de l'argent!" width="180" height="242" border="0" /> </a>
							</p>
						</div>
						<div class="RightItem">
							<h2>Les commandes récentes</h2>
							<div class="OrderItems">
								<ul class="OrderItems_box OrderItems_liheight">
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1066563-304-cycliques-entretoises-de-talon-en-acier-inoxydable-couleur-inox.html">STAS-N020-11-4mm:304 cycliques entretoises de t...</a>
										</p>
										<p class="transport">
											expédier à France M&eacute;tropolitaine
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1197459-cabochons-de-pierres-fines-naturelles-quartz-rose.html">X-G-H1598-DR-30x20-06:Cabochons de pierres fines nat...</a>
										</p>
										<p class="transport">
											expédier à United States
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1050114-1-rondes-brin-naturel-turquoise-perles-brins-teint.html">X-TURQ-G103-6mm-01:1 rondes brin naturel turquois...</a>
										</p>
										<p class="transport">
											expédier à Canada
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1019292-de-style-casual-unisexe-304-colliers-en-acier-inoxydable-de-la-chaine-de-croix-avec-fermoir-pince-de-homard.html">STAS-O037-45P:De style casual unisexe 304 co...</a>
										</p>
										<p class="transport">
											expédier à United States
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1004750-304-inox-homard-fermoirs-pince-grade-a.html">X-STAS-AB19:304 inox homard fermoirs pince...</a>
										</p>
										<p class="transport">
											expédier à United States
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-912147-cordon-elastique-avec-l-exterieur-de-la-fibre-et-caoutchouc-a-l-interieur.html">EC-R004-2.0mm-05:Cordon élastique, avec l'ext...</a>
										</p>
										<p class="transport">
											expédier à France M&eacute;tropolitaine
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1067048-agate-verte-naturelle-rangees-de-perles-rondes-6-mm.html">G-N0120-38-6mm:Agate verte naturelle rangées...</a>
										</p>
										<p class="transport">
											expédier à United Arab Emirates
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1030027-parametres-cru-tibetains-en-alliage-de-style-pendentif-cabochon-de-lunette-sans-nickel.html">X-TIBEP-M018-125AB-NF:Paramètres cru tibétains en ...</a>
										</p>
										<p class="transport">
											expédier à United States
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-968539-plaque-couleur-prune-ab-perles-de-coeur-de-poney-acrylique-environ-8-mm-de-diametre.html">X-PL539-820:Plaqué couleur prune ab perle...</a>
										</p>
										<p class="transport">
											expédier à United States
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1595658-opaques-perles-de-rocaille-de-verre-firebrick.html">X-SEED-R032-B03:opaques perles de rocaille de ...</a>
										</p>
										<p class="transport">
											expédier à Switzerland
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-721354-304-acier-inoxydable-de-fermoirs-magnetiques-colonne.html">STAS-E006-53:304 acier inoxydable de fermoi...</a>
										</p>
										<p class="transport">
											expédier à Japan
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-936874-pendentifs-en-alliage-de-style-tibetain-feuille.html">TIBEP-3109-G-RS:Pendentifs en alliage de style...</a>
										</p>
										<p class="transport">
											expédier à Mexico
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-938872-les-idees-cadeaux-de-valentine-faire-breloques-en-alliage-de-style-tibetain-coeur-en-forme-de-pendentifs-sans-cadmium-et-sans-plomb.html">X-TIBEP-16672-AS-RS:Les idées cadeaux de valentin...</a>
										</p>
										<p class="transport">
											expédier à France M&eacute;tropolitaine
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-338341-porcelaine-a-the-bleu.html">CF472Y:Porcelaine à thé, bleu, souc...</a>
										</p>
										<p class="transport">
											expédier à United Kingdom
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-901505-style-tibetain-ronde-antique-ton-argent-perles-d-espacement-sans-plomb-libre-et-nickel-et-cadmium-libre.html">X-LF10326Y-NF:Style tibétain ronde antique ...</a>
										</p>
										<p class="transport">
											expédier à United States
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1546469-pendentifs-en-acier-inoxydable-vierge-etiquette-de-marquage.html">STAS-K090-01P-AAA:pendentifs en acier inoxydable...</a>
										</p>
										<p class="transport">
											expédier à Canada
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1315720-relief-avec-dragon-et-de-phenix-modele-ciseaux-en-acier-inoxydable-or-et-acier-inoxydable-couleur.html">TOOL-N004-01A:Relief avec dragon et de phén...</a>
										</p>
										<p class="transport">
											expédier à United States
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-895548-laiton-couleur-platine-crochet-earwire-sans-plomb-et-sans-cadmium-et-sans-nickel.html">X-J0JQN062:Laiton couleur platine crochet...</a>
										</p>
										<p class="transport">
											expédier à United States
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1222045-belle-fer-polka-de-broches-de-bar-a-l-arriere-point-imprime-broches-de-moustache-de-bois-barbe.html">X-JEWB-M003-M:Belle fer polka de broches de ...</a>
										</p>
										<p class="transport">
											expédier à France M&eacute;tropolitaine
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-893575-baisse-facettes-transparentes-pendentifs-acryliques-claires-47x22-mm.html">X-TACR-82522-1:Baisse facettes transparentes ...</a>
										</p>
										<p class="transport">
											expédier à Canada
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1278047-agrafe-en-laiton-et-agrafe-finit-definir-fermoir-avec-cordon-sertissage-et-chaine-de-rallonge.html">X-KK95-B:agrafe en laiton et agrafe fin...</a>
										</p>
										<p class="transport">
											expédier à France M&eacute;tropolitaine
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1004091-verre-peint-rangees-de-perles-rondes-de-style-caoutchoute.html">X-DGLA-S072-4mm-24:Verre peint rangées de perles...</a>
										</p>
										<p class="transport">
											expédier à France M&eacute;tropolitaine
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-1029494-millesime-alliage-de-style-tibetain-grande-fleur-parametres-pendentif-cabochon-de-lunette-argent-antique.html">TIBEP-O006-55AS:Millésime alliage de style ti...</a>
										</p>
										<p class="transport">
											expédier à Japan
										</p>
									</li>
									<li>
										<p>
											<a href="http://www.nbeads.com/fr/p-904998-10pcs-argent-antique-croix-alliage-de-style-tibetain-pendentifs-gothiques-sans-plomb-et-sans-cadmium.html">X-TIBEP-GC070-AS-RS:10pcs argent antique croix all...</a>
										</p>
										<p class="transport">
											expédier à Germany
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="Clear"></div>
				</div>
				<div class="ContentLeft">
					<div class="CategoryMenu">
						<dl>
							<dt>
<h2>
<a href="http://www.nbeads.com/fr/a-22-perles-a-bijoux.html">
Perles À Bijoux </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/fr/a-23-perles-acryliques.html">
									Perles Acryliques </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-47-p1-pierres-gemmes.html">
									Pierres Gemmes </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-48-perles-en-verre.html">
									Perles En Verre </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-100-p1-perles-en-bois-noyau.html">
									Perles En Bois & Noyau </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-39-perles-europeennes.html">
									Perles Européennes </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-72-p1-perles-avec-strass.html">
									Perles Avec Strass </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-73-perles-de-rocaille.html">
									Perles De Rocaille </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-90-perles-style-tibetain.html">
									Perles Style Tibétain </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-35-perles-en-argile.html">
									Perles En Argile </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-253-zircon-cubique.html">
									Zircon Cubique </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-61-perles-lampwork.html">
									Perles Lampwork </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-68-perles-en-metal.html">
									Perles En Métal </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-71-p1-perles-en-resine.html">
									Perles En Résine </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-81-coquillages-perles-de-culture.html">
									Coquillages & Perles De Culture </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-85-cristal-autrichien.html">
									Cristal Autrichien </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-101-p1-perles-tissees.html">
									Perles Tissées </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-202-p1-autres-perles.html">
									Autres Perles </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/fr/a-218-boutons.html">
Boutons </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/fr/b-232-p1-boutons-snap.html">
									Boutons Snap </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-230-p1-boutons-shank.html">
									Boutons Shank </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-234-p1-cufflinks.html">
									Cufflinks </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-219-p1-boutons-en-bois.html">
									Boutons En Bois </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-224-p1-boutons-en-noix-de-coco.html">
									Boutons En Noix De Coco </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-228-p1-boutons-acryliques.html">
									Boutons Acryliques </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-222-p1-boutons-en-resine.html">
									Boutons En Résine </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-233-p1-boutons-plastiques.html">
									Boutons Plastiques </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-225-p1-boutons-en-metal.html">
									Boutons En Métal </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-229-p1-boutons-en-strass.html">
									Boutons En Strass </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-231-p1-autres-boutons.html">
									Autres Boutons </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/fr/a-102-accessoires-a-bijoux.html">
Accessoires À bijoux </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/fr/a-149-pendentifs-breloques.html">
									Pendentifs & Breloques </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-106-cabochons.html">
									Cabochons </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-258-cabochon-supports.html">
									Cabochon Supports </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-144-p1-anneaux.html">
									Anneaux </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-116-fermoirs.html">
									Fermoirs </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-104-p1-calottes-coupelles.html">
									Calottes/Coupelles </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-129-perles-accessoires.html">
									Perles Accessoires </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-105-p1-separateurs-perles.html">
									Séparateurs Perles </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-115-p1-apprets-chaines.html">
									Apprêts Chaînes </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-123-fermoirs-boucles-d-oreilles.html">
									Fermoirs Boucles D'oreilles </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-145-connecteurs.html">
									Connecteurs </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-170-p1-belieres.html">
									Bélières </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-171-clous.html">
									Clous </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-175-p1-apprets-avec-strass.html">
									Apprêts Avec Strass </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-176-p1-composants-pour-bagues.html">
									Composants Pour Bagues </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-177-p1-breloques-coulissants.html">
									Breloques Coulissants </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-178-p1-argent-925.html">
									Argent 925 </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-179-p1-cache-noeuds-et-embouts.html">
									Cache-nœuds Et Embouts </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-103-p1-autres-apprets.html">
									Autres Apprêts </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-251-p1-accessoires-de-vetements.html">
									Accessoires De Vêtements </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/fr/a-1-outils-et-emballages.html">
Outils Et Emballages </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/fr/b-8-p1-outils-a-bijoux.html">
									Outils À Bijoux </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-6-p1-pochettes-organza.html">
									Pochettes Organza </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-5-p1-boites-de-rangement-a-perles.html">
									Boîtes De Rangement À Perles </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-7-p1-stockages-et-emballages.html">
									Stockages Et Emballages </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-2-boites-presentoirs.html">
									Boîtes & Présentoirs </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-204-p1-autres.html">
									Autres </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/fr/a-180-chaines-fils-et-rubans.html">
Chaînes, Fils Et Rubans </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/fr/a-191-fils-rubans.html">
									Fils & Rubans </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-198-p1-fils-metalliques.html">
									Fils Métalliques </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-181-chaines.html">
									Chaînes </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/a-186-creation-de-bijoux.html">
									Création De Bijoux </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-205-p1-autres-fils.html">
									Autres Fils </a>
							</dd>
						</dl>
						<dl class="Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/fr/a-235-accessoires-de-cheveux-ornements.html">
Accessoires de Cheveux & Ornements </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/fr/b-236-p1-ornements-de-cheveux.html">
									Ornements de Cheveux </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-237-p1-accessoires-de-cheveux.html">
									Accessoires de Cheveux </a>
							</dd>
						</dl>
						<dl class="Mg0 Unfold">
							<dt>
<h2>
<a href="http://www.nbeads.com/fr/a-9-bijoux-montres.html">
Bijoux & Montres </a>
</h2>
</dt>
							<dd>
								<a href="http://www.nbeads.com/fr/a-242-montre-horloge.html">
									Montre & Horloge </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-12-p1-bracelets.html">
									Bracelets </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-20-p1-colliers.html">
									Colliers </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-15-p1-boucles-d-oreilles.html">
									Boucles D'oreilles </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-21-p1-bagues.html">
									Bagues </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-18-p1-kits-bijoux.html">
									Kits Bijoux </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-271-p1-bracelets-bouddhistes.html">
									Bracelets Bouddhistes </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-241-p1-diy-bijoux-fantaisie.html">
									DIY Bijoux Fantaisie </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-270-p1-visage-ongle-art-accessoires.html">
									Visage & Ongle Art Accessoires </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-269-p1-accessoires-sacs.html">
									Accessoires Sacs </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-19-p1-porte-cles.html">
									Porte-clés </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-14-p1-decorations.html">
									Décorations </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-250-p1-produits-d-escalade.html">
									Produits D'escalade </a>
							</dd>
							<dd>
								<a href="http://www.nbeads.com/fr/b-206-p1-autres-bijoux.html">
									Autres Bijoux </a>
							</dd>
						</dl>
					</div>
					<div class="Latestproducts BorderWhite">
						<h2>Nouveautés</h2>
						<ul class="NewProItems">
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/fr/p-1590919-304-stainless-steel-pendant-rhinestone-settings-locket-pendants.html"> <img src="http://photos.nbeads.com/2/C/7/50_50_2C77C9DE-9E3F-45BD-9AE2-081031C4249D.JPG" alt="STAS-Q197-06" title="STAS-Q197-06" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/fr/p-1590919-304-stainless-steel-pendant-rhinestone-settings-locket-pendants.html"> STAS-Q197-06 <br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/fr/p-548483-brass-rhinestone-beads-grade-a.html"> <img src="http://photos.nbeads.com/R/B/-/50_50_RB-A011-8MM-20G.JPG" alt="8mm Rond Laiton Strass Perles(RB-A011-8mm-20G)" title="8mm Rond Laiton Strass Perles(RB-A011-8mm-20G)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/fr/p-548483-brass-rhinestone-beads-grade-a.html"> 8mm Rond Laiton Strass Perles(RB-A011-8mm-20G) <br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/fr/p-583334-imitation-pearl-acrylic-beads-abs.html"> <img src="http://photos.nbeads.com/6/3/6/50_50_636FFB09-1E62-4D17-9714-AFFCB7EE8B74.JPG" alt="15mm Rose Fonc&eacute; Riz Acrylique Perles(MACR-G006-5)" title="15mm Rose Fonc&eacute; Riz Acrylique Perles(MACR-G006-5)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/fr/p-583334-imitation-pearl-acrylic-beads-abs.html"> 15mm Rose Foncé Riz Acrylique Perles(MACR-G006-5) <br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/fr/p-616392-moonstone-beads-strands-round.html"> <img src="http://photos.nbeads.com/B/3/7/50_50_B37698A5-E110-47D6-B64D-177F519FD3B4.JPG" alt="10mm Rond Pierre De Lune Perles(G-C068-10mm-1)" title="10mm Rond Pierre De Lune Perles(G-C068-10mm-1)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/fr/p-616392-moonstone-beads-strands-round.html"> 10mm Rond Pierre De Lune Perles(G-C068-10mm-1) <br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/fr/p-974765-new-items-high-quality-handmade-carved-ox-bone-beads-strands-oval.html"> <img src="http://photos.nbeads.com/E/7/5/50_50_E7512459-7629-4E2E-8689-E0D6572B7BB4.JPG" alt="28mm Ivoire Ovale Os Perles(BONE-L001-27B)" title="28mm Ivoire Ovale Os Perles(BONE-L001-27B)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/fr/p-974765-new-items-high-quality-handmade-carved-ox-bone-beads-strands-oval.html"> 28mm Ivoire Ovale Os Perles(BONE-L001-27B) <br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/fr/p-1133915-brass-black-lip-shell-flower-big-pendants-with-shell-pearl.html"> <img src="http://photos.nbeads.com/4/0/6/50_50_406FE61A-D03A-4620-8650-FBBAD8321E0C.JPG" alt="Platine Fleur Coquillage Lip(SSHEL-F0006-49B)" title="Platine Fleur Coquillage Lip(SSHEL-F0006-49B)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/fr/p-1133915-brass-black-lip-shell-flower-big-pendants-with-shell-pearl.html"> Platine Fleur Coquillage Lip(SSHEL-F0006-49B) <br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/fr/p-1139517-tibetan-style-alloy-beads-dorje-vajra-for-buddhist-jewelry.html"> <img src="http://photos.nbeads.com/B/8/D/50_50_B8DD62C0-D74D-45E0-9B13-396D0DDCB509.JPG" alt="Alliage Perles(TIBEB-O004-33)" title="Alliage Perles(TIBEB-O004-33)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/fr/p-1139517-tibetan-style-alloy-beads-dorje-vajra-for-buddhist-jewelry.html"> Alliage Perles(TIBEB-O004-33) <br/>
									</a>
								</p>
							</li>
							<li>
								<p class="ProductImg">
									<a href="http://www.nbeads.com/fr/p-1040763-mixed-nature-lava-goddess-household-display-decorations-54x29x19mm.html"> <img src="http://photos.nbeads.com/E/2/9/50_50_E29E08F4-6960-4A89-99AC-B009957DE87B.JPG" alt="Couleur Mixte Autres Pierre Gemme D&eacute;corations(G-M062-M)" title="Couleur Mixte Autres Pierre Gemme D&eacute;corations(G-M062-M)" width="50" height="50" />
									</a>
								</p>
								<p class="ProductInfo">
									<a href="http://www.nbeads.com/fr/p-1040763-mixed-nature-lava-goddess-household-display-decorations-54x29x19mm.html"> Couleur Mixte Autres Pierre Gemme Décorations(G-M062-M) <br/>
									</a>
								</p>
							</li>
						</ul>
					</div>
					<div class="Categories NewsLetter">
						<div class="BorderWhite">
							<h4>Lettre d'information</h4>
							<p style="font-size:11px;">Inscrivez-vous pour recevoir la Newsletter Nbeads</p>
							<input type="text" maxlength="100" id="txtNewsLetter" name="txtNewsLetter" class="NewsletterInput" />
							<input type="button" id="btnNewsLetter" class="NLBtnSubmit" />
						</div>
					</div>
				</div>
				<div class="Clear"></div>
			</div>
			<div id="Footer">
				<p>
					<a rel="nofollow" href='http://www.nbeads.com/fr/help/entried/1-qui-somme-nous.html'>Qui sommes-nous</a>&nbsp;&nbsp;|&nbsp;
					<a href="http://www.nbeads.com/fr/sitemap.html">Plan du site</a>&nbsp;&nbsp;|&nbsp;
					<a rel="nofollow" href='http://www.nbeads.com/fr/help/entried/4-confidentialite.html'>Confidentialité</a>&nbsp;&nbsp;|&nbsp;
					<a rel="nofollow" href='http://www.nbeads.com/fr/help/categories/6-douanes-et-droits-p1.html'>Taxes & Douane</a>&nbsp;&nbsp;|&nbsp;
					<a rel="nofollow" href='http://www.nbeads.com/fr/help/entried/56-quelle-est-votre-politique-de-retour-et-de-remboursement.html'>Politique de retour</a>&nbsp;&nbsp;|&nbsp;
					<a rel="nofollow" href='http://www.nbeads.com/fr/help/entried/6-contactez-nous.html'>Contactez-nous</a>&nbsp;&nbsp;|&nbsp;
					<a rel="nofollow" href='http://www.nbeads.com/fr/delivery-fee.html'>Frais De Port</a>
					<br/>
					<b>Nos Partenaires:</b>
					<a rel="nofollow" href="http://www.pandahall.com" title="PandaHall.com" Target="_blank"><b>PandaHall.com</b></a>
					|
					<a rel="nofollow" href="http://www.pandawhole.com" title="PandaWhole.com" Target="_blank"><b>PandaWhole.com</b></a>
				</p>
				<p class="CopyText">
					&copy;2011 - 2017 EC World International Limited Tous droits réservés.
				</p>
			</div>
			<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.DOMWindow.js"></script>
			<script type="text/javascript" src="http://www.nbeads.com/buyer_french/js/loginpop.js?v=1123"></script>
			<script type="text/javascript">
				var totalWeight = "";
			</script>
		</div>
		<div style="height: 20px;">
			<script type="text/javascript" src="http://www.nbeads.com/common/js/jquery.DOMWindow.js"></script>
			<div class="FixRegion">
				<p class="top"></p>
				<div class="FixRegionWrap">
					<div id="Region" class="Region">
						<p id="Region1" onclick="regionAndDeliveryCk(this)"><span class="RegionFlag CN"></span> &nbsp;
							<a>China</a>
						</p> /
						<a><span id="Region2" onclick="regionAndDeliveryCk(this)">$ Dollar américain USD</span></a>
					</div>
					<div class="GoogleTranslate">
						<p>Traduction De Google</p>
						<div class="GoogleTranslateSel">
							<div id="google_translate_element"></div>
							<script>
								function googleTranslateElementInit() {
									new google.translate.TranslateElement({
										pageLanguage: 'en',
										autoDisplay: false
									}, 'google_translate_element');
								}
							</script>
							<script type="text/javascript">
								function() {
									var translate = document.createElement('script');
									translate.type = 'text/javascript';
									translate.async = true;
									translate.src = ('https:' == document.location.protocol ? 'https://' :
										'http://') + 'translate.google.com/translate_a/element.js?cb=googleTranslateElementInit';
									var s = document.getElementsByTagName('script')[0];
									s.parentNode.insertBefore(translate, s);
									$(window).unbind("scroll")
								}
							</script>
						</div>
					</div>
					<a id="FeedbackLink" class="Feedback" title="Pour vous assurer une bonne expérience d'achat sur Nbeads, veuillez nous donner vos commentaires.">Des suggestions?</a>
					<div id="feedbackbox" style="display:none">
						<div class="FeedbackBox">
							<span title="Close" class="BtnBoxClose" id="BtnBoxClose"></span>
							<div class="MainPopContent MainFeedback">
								<p class="PopboxTitle">Assurez-vous une grande expérience des achats sur nbeads.com</p>
								<div class="Desc">
									<p>Bonjour, bienvenue sur nbeads.com!</p>
									<p>Nous espérons sincèrement que vous aimez faire des achats à nbeads.com. S'il y a quelque chose de déplaisant ou d'ennuyeux lorsque vous faites des achats, laissez-nous savoir, s'il vous plaît. Toutes les suggestions sur nbeads.com seront appréciées hautement.</p>
								</div>
								<ul>
									<li class="SuggestBox">
										<textarea id="feedbackCont" rows="5" cols="80" maxlength="400"></textarea>
										<span></span>
									</li>
									<li>
										<p>Votre email:</p>
										<input id="email" class="GrayTextBox" type="text" maxlength="100" value="" />
										<span></span>
									</li>
									<li>
										<input class="FeedbackBtn" type="button" />
									</li>
								</ul>
								<div class="Tips">
									Conseils:
									<p>
										Si votre conseil précieux est adopté, vous obtiendrez des cadeaux supplémentaires, tels que le bon de réduction, les cadeaux gratuits, le code de réduction, etc.
									</p>
									<p>
										Si vous avez des questions spécifiques au sujet de votre commande, s'il vous plaît, contactez
										<a href="http://www.nbeads.com/fr/Help/Ask-Question.html">Notre Service Client</a> ou visitez notre
										<a href="http://www.nbeads.com/fr/Help/Default.html">Aide</a>.
									</p>
								</div>
							</div>
							<div class="MainPopContent MainFeedback" style="display:none">
								<p class="PopboxTitle">Merci pour votre feed-back!</p>
								<div class="Desc">
									<p>Vos suggestions nous aideront à améliorer notre service.</p>
								</div>
								<ul>
									<li>
										<input class="CloseBtn" type="button" />
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="RegionSettingBox" style="display:none">
						<div class="RegionSettingBox">
							<span title="Close" class="BtnBoxClose" id="BtnBoxClose" onclick="closeWindow()"></span>
							<div class="MainPopContent MainSetting"></div>
						</div>
					</div>
					<div id="DeliveryFeeBox" style="display:none">
						<div class="DeliveryFeeBox">
							<span title="Close" class="BtnBoxClose" id="BtnBoxClose" onclick="closeWindow()"></span>
							<div class="MainPopContent MainDeliveryFee"></div>
						</div>
					</div>
				</div>
			</div>
			<script>
				(function(w, d, t, r, u) { var f, n, i;
					w[u] = w[u] || [], f = function() { var o = { ti: "4021471" };
						o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad") }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function() { var s = this.readyState;
						s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null) }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i) })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
			</script>
		</div>

		<script type="text/javascript">
			var google_tag_params = {
				ecomm_prodid: "",
				ecomm_pagetype: "home",
				ecomm_totalvalue: ""
			};
		</script>
		<script type="text/javascript">
			/* __tag_682$3_ */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
<div style="display: inline;">
<img height="1" width="1" style="border-style: none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/975754985/?value=0&amp;label=rC_4CNfj5gQQ6a2j0QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
		<script>
			(function() {
				var wsta = document.createElement('script');
				wsta.type = 'text/javascript';
				wsta.async = true;
				wsta.src = '//www.qushopping.net/wsta.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wsta, s);
			})();
		</script>
	</body>

</html>